.btn-close {
  display: block;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  transition-property: color, opacity;
  transition-duration: $timing;
  transition-timing-function: $easing;
  opacity: 0.5;

  svg {
    width: rem(18);
    height: rem(18);
    color: inherit;
    fill: currentColor;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &--primary {
    color: var(--color-primary);
  }

  &--white {
    color: var(--color-white);
  }
}
