.btn {
  $b: #{&};

  position: relative;
  overflow: hidden;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none !important;
  line-height: 1;
  user-select: none;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: $timing;
  transition-timing-function: $easing;

  &:focus {
    outline: none;
  }

  &__text {
    position: relative;
    z-index: 5;
  }

  &--default {
    border-radius: $btn-radius;
    height: rem($btn-height);
    padding: 0 rem(24);
    font-size: rem(14);
    font-weight: 500;
    letter-spacing: 0.13em;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      height: rem($btn-height-lg);
      font-size: rem(16);
    }
  }

  &--small {
    border-radius: $btn-radius;
    height: rem(40);
    padding: 0 rem(24);
    font-size: rem(12);
    font-weight: 500;
    letter-spacing: 0.13em;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      height: rem(48);
      font-size: rem(14);
    }
  }

  &--min-width {
    @include media-breakpoint-up(md) {
      min-width: rem(268);
    }
  }

  &--primary {
    background-color: var(--color-primary);
    color: #fff;

    &:hover {
      background-color: var(--color-primary-hover);
      color: var(--color-white);
    }
  }

  &--white {
    background-color: var(--color-white);
    color: var(--color-black);

    &:hover {
      background-color: var(--color-light);
    }
  }

  &.disabled,
  &:disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  &.reverse-text {
    #{$b}__text {
      display: none;
    }

    &:before {
      content: attr(data-btn-reverse-text);
      position: relative;
      z-index: 5;
      display: inline-block;
    }
  }
}

.show-more {
  display: flex;
  justify-content: center;

  @include media-breakpoint-only(sm) {
    .btn {
      width: 100%;
    }
  }
}
