.document-download {
  display: flex;
  align-items: center;
  text-decoration: none !important;
  transition: color $timing $easing;

  &__icon {
    flex-shrink: 0;
    margin-right: rem(16);

    svg {
      fill: currentColor;
      width: rem(28);
      height: rem(28);
    }

    @include media-breakpoint-up(md) {
      margin-right: rem(20);

      svg {
        width: rem(42);
        height: rem(42);
      }
    }
  }

  &__heading {
    @include text-default;
    word-break: break-word;
  }

  &:hover {
    color: var(--color-primary);
  }
}


.documents-list {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-only(sm) {
    .document-download {
      margin-bottom: rem(24);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    margin: 0 rem(-20);

    .document-download {
      width: 50%;
      padding: rem(20);
    }
  }

  @include media-breakpoint-up(lg) {
    .document-download {
      width: 33.33%;
    }
  }
}
