.factoid {
  display: flex;
  align-items: flex-end;
  text-align: left;

  &__number {
    font-size: rem(57);
    line-height: 1;
    color: var(--color-secondary);
  }

  &__text {
    @include text-default;
    margin-bottom: rem(6);
    margin-left: rem(12);
  }

  @include media-breakpoint-up(lg) {
    &__number {
      font-size: rem(116);
    }

    &__text {
      margin-bottom: rem(16);
      margin-left: rem(16);
    }
  }
}
