.form-long {
  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__field {
    width: 100%;

    .btn {
      width: 100%;
    }
  }

  @include media-breakpoint-down(sm) {
    &__row,
    &__field {
      margin-bottom: rem(16);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__row {
      margin: 0 rem(-8) rem(8);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__field {
      width: auto;
      padding: rem(6);

      &--tel {
        width: rem(232);
      }

      &--full {
        width: 100%;
      }
    }
  }
}

.form-tall {
  &__field {
    width: 100%;
    margin-bottom: rem(16);
  }

  &__btn {
    margin-top: rem(24);
    width: 100%;

    .btn {
      width: 100%;
    }
  }

  &__agreement {
    margin-top: rem(24);
  }
}
