.image-container {
  position: relative;
  width: 100%;
  height: 0;
  // padding-top в % задавать на месте
  overflow: hidden;
  background-color: var(--color-light);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
  }
}