@keyframes animationLoader {
  0% {
    top: 0;
    color: rgba(#06A3CD, 1)
  }
  50% {
    top: 30px;
    color: rgba(#06A3CD, 0.2)
  }
  100% {
    top: 0;
    color: rgba(#06A3CD, 1)
  }
}

.loader-wrap {
  padding: 32px 0 90px; // высота, чтобы не накладываться на другие элементы
}

.loader {
  $size: 48px;
  width: $size/3;
  height: $size/3;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 2px;
  background: currentColor;
  display: block;
  position: relative;
  color: var(--color-primary);
  animation: animationLoader 2s ease infinite;

  &::after, &::before {
    content: '';
    width: $size/3;
    height: $size/3;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 2px;
    background: currentColor;
    color: var(--color-primary);
    position: absolute;
    left: 30px;
    top: 0;
    animation: animationLoader 2s 0.2s ease infinite;
  }

  &::before {
    animation-delay: 0.4s;
    left: 60px;
  }
}
