.map-wrap {
  height: rem(450);

  @include media-breakpoint-up(md) {
    height: rem(600);
  }
}

.map {
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;

  [class$="-ground-pane"] {
    //filter: grayscale(100%);
  }
}

.map-cluster {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-primary);
  background-color: var(--color-white);

  &__number {
    @include text-default;
  }
}
