.tabs {
  $b: #{&};
  display: flex;
  align-items: flex-end;
  overflow-x: auto;

  .container & {
    @include media-breakpoint-only(sm) {
      padding-left: rem($container-gutter-sm);
      padding-right: rem($container-gutter-sm);
      margin-left: rem(-$container-gutter-sm);
      margin-right: rem(-$container-gutter-sm);
    }

    @include media-breakpoint-only(md) {
      padding-left: rem($container-gutter-md);
      padding-right: rem($container-gutter-md);
      margin-left: rem(-$container-gutter-md);
      margin-right: rem(-$container-gutter-md);
    }
  }

  &__item {
    position: relative;
    margin-left: rem(10);
    margin-right: rem(10);
    flex-shrink: 0;
    display: block;
    padding: 0 rem(4) rem(4);
    text-align: center;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    transition-property: color;
    transition-duration: $timing;
    transition-timing-function: $easing;

    @include media-breakpoint-up(md) {
      margin-left: rem(32);
      margin-right: rem(32);
      padding-bottom: rem(8);
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      transform: scale(0);
      border-radius: 2px;
      background-color: currentColor;
      transition-property: transform, opacity, color;
      transition-duration: $timing;
      transition-timing-function: $easing;
    }

    &:focus {
      outline: none;
    }

    &.active {
      &:after {
        transform: scale(1);
      }
    }
  }

  &--default {
    #{$b}__item {
      color: inherit;

      &:focus,
      &:hover,
      &.active {
        color: var(--color-primary);
      }
    }
  }

  &--white {
    #{$b}__item {
      color: var(--color-white);

      &:hover {
        opacity: 0.75;
      }
    }
  }
}

[data-tab-content] {
  animation: fadeIn $timing $easing forwards;

  &:not(.active) {
    display: none;
  }
}
