{% extends 'layouts::page.twig' %}

{% block content %}
    <div class="container">
        <h1 class="h1">Heading 1</h1>
        <h2 class="h2">Heading 2</h2>
        <h3 class="h3">Heading 3</h3>
        <h4 class="h4">Heading 4</h4>
        <h5 class="h5">Heading 5</h5>
        <div class="text-default">text-default</div>
        <div class="text-caption">text-caption</div>
        <p class="text-default">text <a href="#" class="link-decorated">link-decorated</a> text</p>


        <div class="my-16 px-16">
            {% include 'components::btn.twig' with {
                btn: {
                    minWidth: true,
                    theme: "primary",
                    text: "Посмотреть все"
                }
            } %}
        </div>

        <button type="button" data-popup-thanks-trigger>modal thanks</button>
        <button type="button" data-popup-error-trigger>modal error</button>

        <div class="my-16 px-16 py-16 bg-primary color-white">
            {% include 'components::btn.twig' with {
                btn: {
                    minWidth: true,
                    theme: "white",
                    text: "Посмотреть все"
                }
            } %}
        </div>

        <div class="my-16" style="max-width: 400px;">
            {% include 'components::inputs/input.twig' with {
                field: {
                    type: "tel",
                    name: "ORDER[PHONE]",
                    label: "Номер телефона",
                    required: true,
                }
            } %}
        </div>

        <div class="my-16" style="max-width: 400px;">
            {% include 'components::inputs/textarea.twig' with {
                field: {
                    label: "Сообщение",
                }
            } %}
        </div>

        <div class="my-16">
            {% include 'components::inputs/checkbox.twig' with {
                field: {
                    checked: true,
                    name: "ORDER[PERSONAL]",
                    text: "Я согласен на <a href='https://ask-yug.com/politic/' target='_blank'>обработку персональных данных</a>"
                }
            } %}
        </div>
    </div>

    <div class="py-64">
        <div class="container">
            {% set cardsCommon = [
                {
                    src: "assets/tmp/cards/card-common-1.jpg",
                    srcset: "assets/tmp/cards/card-common-1@2x.jpg 2x",
                    heading: "Февраль",
                    desc: "2021"
                },
                {
                    src: "assets/tmp/cards/card-common-2.jpg",
                    srcset: "assets/tmp/cards/card-common-2@2x.jpg 2x",
                    heading: "Отзывы о ЖК «Спортивный парк»",
                    desc: "Марина Прокопова"
                },
                {
                    src: "assets/tmp/cards/card-common-3.jpg",
                    srcset: "assets/tmp/cards/card-common-3@2x.jpg 2x",
                    heading: "ЖК «Премьера»",
                    desc: "от 4 737 700 ₽"
                },
                {
                    src: "assets/tmp/cards/card-common-3.jpg",
                    srcset: "assets/tmp/cards/card-common-3@2x.jpg 2x",
                    heading: "ЖК «Премьера»",
                    desc: "от 4 737 700 ₽"
                },
                {
                    src: "assets/tmp/cards/card-common-3.jpg",
                    srcset: "assets/tmp/cards/card-common-3@2x.jpg 2x",
                    heading: "ЖК «Премьера»",
                    desc: "от 4 737 700 ₽"
                }
            ] %}

            <div class="slider-card-common" data-slider-common-wrap>
                <div class="swiper-container" data-slider-common>
                    <div class="swiper-wrapper">
                        {% for card in cardsCommon %}
                            <div class="swiper-slide">
                                {% include 'components::cards/card-common/card-common.twig' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% include 'components::pagination/pagination.twig' with {
                    pagination: {
                        theme: "default"
                    }
                } %}
            </div>
        </div>
    </div>
{% endblock %}
