{% set project_name = "Спортивный парк" %}
{% set page_list = {
    "Страницы": [
        {
            "link": "main",
            "name": "Главная",
            "ready": true
        }
    ],
    "Служебное": [
        {
            "link": "components",
            "name": "Компоненты",
            "ready": true
        }
    ]
} %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">

    <title>Верстка {{ project_name }}</title>
</head>
<body>
<main class="main">

    <div class="head-line">
        <h1>{{ project_name }} Frontend</h1>
    </div>

    <div class="wrap">
        {% for key, pages in page_list %}
            <h2>{{ key }}</h2>
            <ol class="box">
                {% for page in pages %}
                    <li><a href="{{ page.link }}.html" class="{{ page.ready?: 'not-ready' }}">{{ page.name }}</a></li>
                {% endfor %}
            </ol>
        {% endfor %}
    </div>

    <style>
      body {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-size: 16px;
        background-color: #fafafa;
        color: #212121;
        margin: 0;
      }

      .head-line {
        background-color: #fff;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.025);
      }

      .head-line h1 {
        margin: 0 auto;
        padding: 20px 10px;
        max-width: 1280px;
        min-height: 68px;
        box-sizing: border-box;
        color: inherit;
        font-size: 24px;
        font-weight: 300;
        word-wrap: break-word;
        letter-spacing: 0.03em;
      }

      .wrap {
        padding: 0 10px 10px;
        text-align: center;
        overflow: hidden;
      }

      h2 {
        text-align: center;
        position: relative;
        display: inline-block;
        max-width: 1280px;
        margin: 30px 0 10px;
        padding: 0 20px;
        background-color: #fafafa;
        color: inherit;
        font-weight: 300;
        letter-spacing: 0.03em;
      }

      h2:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 1280px;
        background-color: rgba(0, 0, 0, 0.075);
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: -1;
      }

      a {
        color: inherit;
        text-decoration: none;
        font-weight: 300;
        letter-spacing: 0.03em;
      }

      a:hover {
        text-decoration: underline;
      }

      a.not-ready {
        opacity: 0.5;
      }

      .box {
        padding: 20px 40px;
        margin: 20px auto 0;
        width: 100%;
        max-width: 1280px;
        border-radius: 0px;
        box-sizing: border-box;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.025);
        background-color: #fff;
        text-align: left;
        -webkit-columns: 210px auto;
        -moz-columns: 210px auto;
        columns: 210px auto;
        -webkit-column-gap: 50px;
        -moz-column-gap: 50px;
        column-gap: 50px;
        -webkit-column-rule: 1px solid rgba(0, 0, 0, 0.075);
        -moz-column-rule: 1px solid rgba(0, 0, 0, 0.075);
        column-rule: 1px solid rgba(0, 0, 0, 0.075);
      }

      ol,
      ul {
        list-style-type: none;
      }

      li {
        word-wrap: break-word;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        padding: 10px 15px 10px 40px;
        position: relative;
      }

      li a:before {
        position: absolute;
        display: inline-block;
      }

      ol {
        counter-reset: item;
      }

      ol li {
        counter-increment: item;
      }

      ol li a:before {
        content: counter(item, decimal-leading-zero) ".";
        top: 13px;
        left: 0;
        color: #64b5f6;
        font-size: 12px;
        font-weight: 500;
        font-style: italic;
        z-index: 10;
      }

      ol li a:visited:before {
        color: #ba68c8;
      }

      ul li a:before {
        content: "";
        top: 18px;
        left: 8px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #64b5f6;
      }

      ul li a:visited:before {
        background-color: #ba68c8;
      }

      @media (prefers-color-scheme: dark) {
        body {
          background-color: #181818;
          color: #fff;
        }

        h2 {
          background-color: #181818;
        }

        h2:before {
          background-color: rgba(255, 255, 255, 0.1);
        }

        .head-line,
        .box {
          background-color: #202020;
          box-shadow: none;
        }

        .box {
          -webkit-column-rule-color: rgba(255, 255, 255, 0.1);
          -moz-column-rule-color: rgba(255, 255, 255, 0.1);
          column-rule-color: rgba(255, 255, 255, 0.1);
        }
      }
    </style>

</main>
</body>
</html>
