{% extends 'layouts::page.twig' %}

{% block content %}

    {% include 'blocks::hero.twig' %}

    {% include 'blocks::sections/section-about.twig' %}

    {% include 'blocks::sections/section-quiz.twig' %}

    {% include 'blocks::sections/section-advantages.twig' %}

    {% include 'blocks::sections/section-apartments.twig' %}

    {% include 'blocks::sections/section-request.twig' %}

    {% include 'blocks::sections/section-actions.twig' %}

    {% include 'blocks::sections/section-infrastructure.twig' %}

    {% include 'blocks::sections/section-payment.twig' %}

    {% include 'blocks::sections/section-progress.twig' %}

    {% include 'blocks::sections/section-documents.twig' %}

    {% include 'blocks::sections/section-reviews.twig' %}

    {% include 'blocks::sections/section-others.twig' %}

{% endblock %}
