<div class="card-infrastructure">
    <div class="card-infrastructure__image image-container">
        <img src="{{ card.src }}"
             {% if card.srcset %}srcset="{{ card.srcset }}"{% endif %}
             alt="">
    </div>

    <div class="card-infrastructure__content">
        <div class="card-infrastructure__heading h3">{{ card.heading|raw }}</div>
        <div class="card-infrastructure__desc text-default">{{ card.desc|raw }}</div>
    </div>
</div>
