<div class="card-advantage"{% if card.popup %} data-popup-advantage-trigger{% endif %}>
    <div class="card-advantage__image">
        <img src="{{ card.src }}"
             {% if card.srcset %}srcset="{{ card.src }}"{% endif %}
             alt="{{ card.alt }}">
    </div>
    <div class="card-advantage__content">
        {% if card.heading %}
            <div class="card-advantage__heading">{{ card.heading|raw }}</div>
        {% endif %}
        {% if card.desc %}
            <div class="card-advantage__desc">{{ card.desc|raw }}</div>
        {% endif %}
    </div>
    {% if card.popup %}
        <div class="card-advantage__badge text-default"><span>Узнать<br>подробнее</span></div>
    {% endif %}
</div>
