<div class="card-action">
    <div class="card-action__picture">
        <div class="card-action__image">
            <img src="{{ card.src }}"
                 {% if card.srcset %}srcset="{{ card.srcset }}"{% endif %}
                 alt="">
        </div>
    </div>
    <div class="card-action__main">
        <h2 class="card-action__heading h2">{{ card.heading|raw }}</h2>
        <div class="card-action__desc text-default">{{ card.desc|raw }}</div>
        <div class="card-action__btn">
            {% include 'components::btn.twig' with {
                btn: card.btn
            } %}
        </div>
    </div>
</div>
