<button type="button"
        class="btn-close btn-close--{{ close.theme ?: "primary" }}{% if close.class %} {{ close.class }}{% endif %}"
        {{ close.attr }}>
    {% include 'images::close.svg' %}
</button>
