{% if btn.href %}
    <a href="{{ btn.href }}"
       class="btn btn--{{ btn.size ?: "default" }} btn--{{ btn.theme ?: "primary" }}{% if btn.minWidth %} btn--min-width{% endif %}{% if btn.class %} {{ btn.class }}{% endif %}"
        {{ btn.attr ?: "" }}
        {% if btn.dataPopup %}data-popup-inputs='{{ btn.dataPopup|json_encode() }}'{% endif %}
    >
        {% if btn.icon %}
            <span class="btn__icon">
                {% include ~ btn.icon %}
            </span>
        {% endif %}
        {% if btn.text %}
            <span class="btn__text">{{ btn.text|raw }}</span>
        {% endif %}
    </a>
{% else %}
    <button type="{{ btn.type ?: "button" }}"
            class="btn btn--{{ btn.size ?: "default" }} btn--{{ btn.theme ?: "primary" }}{% if btn.minWidth %} btn--min-width{% endif %}{% if btn.class %} {{ btn.class }}{% endif %}"
        {{ btn.attr ?: "" }}
        {% if btn.dataPopup %}data-popup-inputs='{{ btn.dataPopup|json_encode() }}'{% endif %}
    >
        {% if btn.icon %}
            <span class="btn__icon">
                {% include ~ btn.icon %}
            </span>
        {% endif %}
        {% if btn.text %}
            <span class="btn__text">{{ btn.text|raw }}</span>
        {% endif %}
    </button>
{% endif %}
