<a href="#" class="document-download" target="_blank" data-more-document>
    <div class="document-download__icon">
        {% include 'images::document.svg' %}
    </div>
    <div class="document-download__heading">{{ document.heading|raw }}</div>
</a>
