.section-about {
  @include media-breakpoint-down(md) {
    overflow: hidden;

    &__intro {
      max-width: rem(400);
    }
  }

  @include media-breakpoint-up(lg) {
    &__inner {
      display: flex;
    }

    &__intro {
      width: 39%;
      padding-top: 3%;
    }

    &__table {
      width: 61%;
      padding-left: 12%;
    }
  }
}

.factoid-table {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(md) {
    padding-left: rem(20);
    padding-right: rem(20);
  }

  &__item {
    @include media-breakpoint-down(md) {
      margin-bottom: rem(16);

      &:nth-child(even) {
        padding-left: 25%;
      }
    }

    @include media-breakpoint-up(lg) {
      &:nth-child(even) {
        padding-left: 40%;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__clouds {
    position: absolute;
    z-index: -1;
    height: auto;
    animation: clouds 24s ease-in-out infinite;

    &--1 {
      top: 6%;
      left: 69%;
      width: rem(122);

      @include media-breakpoint-up(lg) {
        top: -5%;
        left: 57%;
        width: rem(203);
      }
    }

    &--2 {
      top: 31%;
      right: 89%;
      width: rem(86);

      @include media-breakpoint-up(lg) {
        right: 100%;
        width: rem(97);
      }
    }

    &--3 {
      top: 64%;
      left: 69%;
      width: rem(81);

      @include media-breakpoint-up(lg) {
        top: auto;
        bottom: 5%;
        left: 10%;
        width: rem(126);
      }
    }
  }
}
