.section-payment {
  &__head {
    margin-bottom: rem(32);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem(48);
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__tabs {
    @include media-breakpoint-down(md) {
      margin-top: rem(24);
    }
  }
}

.payment-method {

  &__side {
  }

  &__image {
    padding-top: 75%;
    border-radius: $radius-default;
  }

  &__main {

  }

  &__heading {
    margin-bottom: rem(12);
  }

  &__form {
    margin-top: rem(24);
  }


  @include media-breakpoint-only(sm) {
    &__side {
      margin-bottom: rem(24);
    }

    &__main {
      .btn {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;

    &__side {
      width: $payment-image-width-md;
    }

    &__main {
      width: #{100% - $payment-image-width-md};
      padding-left: rem(40);
    }

    &__form {
      .form-tall {
        &__field,
        &__btn {
          width: 100%;
          max-width: rem(288);
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &__side {
      width: $payment-image-width-lg;
    }

    &__main {
      width: #{100% - $payment-image-width-lg};
      padding-left: rem(56);
    }

    &__heading {
      margin-bottom: rem(20);
    }

    &__form {
      margin-top: rem(40);
    }
  }
}
