.section {
  margin-top: rem(64);
  margin-bottom: rem(64);

  @include media-breakpoint-up(lg) {
    margin-top: rem(120);
    margin-bottom: rem(120);
  }

  &--padded {
    padding-top: rem(64);
    padding-bottom: rem(64);

    @include media-breakpoint-up(lg) {
      padding-top: rem(120);
      padding-bottom: rem(120);
    }
  }
}

.section-intro {
  margin-bottom: rem(32);

  @include media-breakpoint-up(lg) {
    margin-bottom: rem(64);
  }

  &__heading {
  }

  &__desc {
    margin-top: rem(16);

    @include media-breakpoint-up(lg) {
      margin-top: rem(20);
    }
  }
}
