.section-apartments {
  overflow: hidden;

  &__inner {
    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  &__side {
    position: relative;
    z-index: 10;

    @include media-breakpoint-up(lg) {
      width: 31%;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: rem(64); // высота nav-arrow

      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        right: rem(16);
        bottom: 0;
        display: block;
        width: 50vw;
        background-color: var(--body-background-color);
      }
    }
  }

  &__main {
    .swiper-container {
      overflow: visible;
    }

    @include media-breakpoint-up(lg) {
      width: 69%;
    }

    .swiper-container {
      @include media-breakpoint-down(sm) {
        padding-right: 5%;
      }
    }

    .swiper-slide {
      @include media-breakpoint-only(sm) {
        margin-right: rem(16);
      }

      @include media-breakpoint-only(md) {
        width: rem(320);
        margin-right: rem(24);
      }

      @include media-breakpoint-up(lg) {
        width: rem(400);
        margin-right: rem(40);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__heading {
    margin-bottom: rem(32);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem(40);
    }
  }


  &__filter {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      margin-bottom: rem(24); // + 12 = 36

      &-item {
        width: 50%;
        margin-bottom: rem(12);
      }
    }

    @include media-breakpoint-up(lg) {
      flex-direction: column;

      &-item {
        margin-bottom: rem(20);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__arrows {
    margin-top: rem(24);
    margin-left: rem(-16);
    display: flex;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.tab-type {
  $b: #{&};

  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: inherit;
  @include text-default;
  font-weight: 500;

  &__badge {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(28);
    height: rem(28);
    margin-right: rem(10);
    font-style: normal;
    background-color: var(--color-light);
    color: #fff;
    transition: background-color $timing $easing;

    svg {
      fill: currentColor;
      width: rem(18);
      height: rem(18);
    }
  }

  &__heading {
    white-space: nowrap;
    transition: color $timing $easing;
  }

  @include media-breakpoint-up(lg) {
    &__badge {
      width: rem(40);
      height: rem(40);
      margin-right: rem(24);

      svg {
        width: rem(24);
        height: rem(24);
      }
    }
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    #{$b}__heading {
      color: var(--color-primary);
    }
  }

  &.active {
    #{$b}__badge {
      background-color: var(--color-primary);
    }

    #{$b}__heading {
      color: var(--color-primary);
    }
  }
}
