.section-infrastructure {
}

.map-filter {
  margin-bottom: rem(16);

  @include media-breakpoint-only(md) {
    margin-bottom: rem(32);
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: rem(32);
    font-size: rem(16);

    &.tabs {
      flex-wrap: wrap;
      overflow-x: visible;
      justify-content: center;
    }

    .tabs__item {
      margin-left: rem(12);
      margin-right: rem(12);
    }
  }
}

.map-infrastructure {
  border-radius: $radius-default;
  overflow: hidden;
  //box-shadow: 0 30px 36px rgba(0, 146, 185, 0.92);
  box-shadow: 0 rem(8) rem(18) rgba(#000, 0.25);

  .map {
    > ymaps {
      // в safari не работает border-radius
      // костыль -webkit-mask-image: -webkit-radial-gradient(white, black); убирает box-shadow
      border-radius: $radius-default;
      overflow: hidden;
    }
  }
}

.slider-card-infrastructure {
  @include media-breakpoint-up(lg) {
    .nav-arrow {
      top: 35%;
    }
  }
}
