$quiz-transition-timing: 700ms;

.section-quiz {
  overflow: hidden;

  @include media-breakpoint-down(md) {
    background-color: var(--color-white);
    padding-top: rem(64);
    padding-bottom: rem(64);
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__heading {
    margin-bottom: rem(16);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem(32);
    }
  }

  &__widget {
    position: relative;
    z-index: 10;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      display: block;
      background-color: var(--color-white);
      border-radius: $radius-default;
    }
  }

  &__picture {
    position: relative;
    z-index: 15;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__image {
    position: relative;
    background-color: var(--color-light);
    border-radius: $radius-default;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
      object-position: center;
      transition: opacity $quiz-transition-timing $easing;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__widget {
      width: 100%;
    }
  }

  @include media-breakpoint-up(lg) {
    &__widget {
      width: 64%;
      align-self: stretch;
      padding: rem(80) rem(96) rem(80) rem(108);

      &:after {
        width: #{rem($container-inner-width - 100)};
      }
    }

    &__picture {
      width: 36%;
      padding-top: rem(96);
      padding-bottom: rem(96);
    }

    &__image {
      width: rem(640);
      height: rem(560);
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) and (max-width: 1659px) {
    &__picture {
      padding-top: rem(144);
      padding-bottom: rem(144);
    }

    &__image {
      width: rem(560);
      height: rem(490);
    }
  }
}

.quiz {
  $quiz-answers-gap: 8;

  &__name {
  }

  &__answers {
    margin-top: rem(32);
    margin-bottom: rem(24);
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-up(lg) {
      margin-bottom: rem(64);
    }
  }

  label {
    display: inline-flex;
    align-items: center;
    border: 2px solid var(--color-primary);
    border-radius: $btn-radius;
    padding: rem(14) rem(24);
    @include text-default;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: $timing;
    transition-timing-function: $easing;

    @include media-breakpoint-only(sm) {
      margin-bottom: rem(10);
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-up(md) {
      width: calc(50% - #{rem($quiz-answers-gap)});
      margin-bottom: #{rem($quiz-answers-gap * 2)};
      padding: rem(17) rem(16) rem(17) rem(24);

      &:nth-child(odd) {
        margin-right: rem($quiz-answers-gap);
      }

      &:nth-child(even) {
        margin-left: rem($quiz-answers-gap);
      }
    }

    &:hover {
      color: #fff;
      background-color: var(--color-primary);
    }
  }

  &__back {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    cursor: pointer;

    &:before {
      content: '';
      flex-shrink: 0;
      margin-right: rem(8);
      display: block;
      width: rem(20);
      height: rem(20);
      background-image: url(../assets/images/arrows/chevron-left.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: transform $timing $easing;
    }

    &:hover {
      &:before {
        transform: translateX(-8px);
      }
    }
  }

  &__pagination {
    position: relative;
    margin-top: rem(8);
    display: flex;
    justify-content: space-between;

    &:before {
      content: '';
      display: block;
      border-top: 1px solid var(--color-light);
      position: absolute;
      top: 8px;
      left: 0;
      width: 99%;
    }

    @include media-breakpoint-up(md) {
      margin-top: rem(24);
    }

    .quiz-bullet {
      &:last-child {
        background-color: var(--color-white); // костыль для перекрытия линии
      }
    }
  }
}

.quiz-bullet {
  position: relative;
  z-index: 10;
  color: var(--color-light);
  transition: color $timing $easing;

  &__ring {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 4px solid currentColor;
    background-color: var(--color-white);
  }

  &__caption {
    margin-top: rem(8);
    @include text-caption;
  }

  &.active {
    color: var(--color-primary);
  }
}

.quiz__step,
.quiz-processing,
.quiz-final {
  animation: fadeIn $quiz-transition-timing $easing;

  &:not(.active) {
    display: none;
  }
}

.quiz-processing {
  &__text {
    margin-bottom: rem(48);
  }

  &__loader {
  }
}

.quiz-final {
  &__text {
    margin-bottom: rem(32);
  }

  &__form {
  }
}
