.section-request {
  &__shell {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    border-radius: $radius-default;
    background-color: var(--color-white);
    overflow: hidden;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__content {
  }

  &__form {
  }

  @include media-breakpoint-only(sm) {
    &__shell {
      padding: rem(40) rem(32);
    }

    &__content {
      margin-bottom: rem(24);
    }
  }

  @include media-breakpoint-only(md) {
    &__shell {
      padding: rem(64) 40% rem(64) rem(64);
    }

    &__content {
      width: 100%;
      margin-bottom: rem(32);
    }

    &__form {
      width: 100%;
    }
  }

  @include media-breakpoint-up(lg) {
    &__shell {
      padding: rem(64) rem(240) rem(64) rem(108);
    }

    &__content {
      width: 53%;
      padding-right: rem(64);
    }

    &__form {
      width: 47%;

      .form-tall {
        &__field,
        &__btn {
          max-width: rem(296);
        }
      }
    }
  }

  &__clouds {
    position: absolute;
    z-index: -1;
    height: auto;
    animation: clouds 24s ease-in-out infinite;

    @include media-breakpoint-only(sm) {
      display: none;
    }

    &--1 {
      width: rem(144);
      top: 25%;
      right: 5%;
    }

    &--2 {
      width: rem(256);

      @include media-breakpoint-only(md) {
        right: 5%;
        bottom: 10%;
      }


      @include media-breakpoint-up(lg) {
        top: 50%;
        left: 90%;
      }
    }
  }
}
