{% set navMenu = [
    {
        href: "#section-about",
        heading: "О комлексе",
        anchor: true,
    },{
        href: "#section-advantages",
        heading: "Преимущества",
        anchor: true,
    },{
        href: "#section-apartments",
        heading: "Планировки",
        anchor: true,
    },{
        href: "#section-payment",
        heading: "Покупка",
        anchor: true,
    },{
        href: "#section-documents",
        heading: "Документы",
        anchor: true,
    },{
        href: "#contacts",
        heading: "Контакты",
        anchor: true,
    }
] %}


<header class="header" data-header>
    <div class="header__inner container">
        <div class="header-bar">
            <div class="header-bar__logo">
                <img src="assets/images/logo/logo-ask-3.svg" alt="ASK">
            </div>
            <div class="header-bar__phone">
                <div class="header-phone">
                    <div class="header-phone__icon">{% include 'images::phone.svg' %}</div>
                    <div class="header-phone__main">
                        <a href="tel:88612043783" class="header-phone__link">8 (861) 204-37-83</a>
                        <button type="button" class="header-phone__btn"
                                data-popup-callback-trigger>Заказать звонок</button>
                    </div>
                </div>
            </div>
            <button type="button" class="header-bar__sandwich" data-menu-switch>
                <i></i><i></i><i></i>
            </button>
        </div>
        <nav class="header-menu" data-nav-menu>
            <ul>
                {% for item in navMenu %}
                    <li>
                        <a href="{{ item.href }}"{% if item.anchor %} data-anchor{% endif %}>{{ item.heading }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

</header>
