.calc {
  &__intro {
    margin-bottom: rem(24);

    &-heading {
      margin-bottom: rem(12);
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: rem(56);

      &-heading {
        margin-bottom: rem(20);
      }
    }
  }

  &__image {
    .image-container {
      padding-top: 75%;
      border-radius: $radius-default;
    }
  }

  &__btn {
    margin-top: rem(40);
  }

  &__filter {
    margin-top: rem(32);
  }

  &__note {
    margin-top: rem(12);
    color: var(--color-gray);
  }

  @include media-breakpoint-down(md) {
    &__filter {
      &-field {
        margin-bottom: rem(24);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__banks {
      .bank {
        margin-bottom: rem(16);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @include media-breakpoint-only(sm) {
    &__image {
      display: none;
    }

    &__btn {
      .btn {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__body {
      display: flex;
    }

    &__image {
      width: $payment-image-width-md;
    }

    &__main {
      width: #{100% - $payment-image-width-md};
      padding-left: rem(40);
    }
  }

  @include media-breakpoint-up(lg) {
    &__image {
      width: $payment-image-width-lg;
    }

    &__main {
      width: #{100% - $payment-image-width-lg};
      padding-left: rem(56);
    }

    &__filter {
      margin: rem(-12) rem(-12) rem(28);
      display: flex;
      flex-wrap: wrap;

      &-field {
        width: 50%;
        padding: rem(12);
      }
    }

    &__banks {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: rem(-24);

      .bank {
        width: 50%;
        padding-right: rem(8);
        margin-bottom: rem(24);
      }
    }

    &__btn {
      margin-top: rem(48);
    }

    &__note {
      margin-top: rem(16);
    }
  }
}

.bank {
  position: relative;
  padding-left: rem(60);
  @include text-default;

  &__icon {
    position: absolute;
    top: rem(6);
    left: 0;
    width: rem(40);
    height: rem(40);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(4);
    border-radius: 50%;
    border: 1px solid #EEEEEE;
    background-color: #fff;

    img,
    svg {
      max-width: rem(24);
      max-height: rem(24);
    }

    svg {
      fill: #B7B7B7;
    }
  }

  &__name {
  }

  &__text {
    color: var(--color-gray);
  }
}
