.cookie-message {
  position: fixed;
  z-index: 99999;
  display: none;
  align-items: center;
  background-color: var(--color-white);

  @include media-breakpoint-down(sm) {
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(24) rem($container-gutter-sm);
    border-top-left-radius: $radius-default;
    border-top-right-radius: $radius-default;
    flex-direction: column;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.13);


    &__btn {
      margin-top: rem(16);
      width: 100%;
    }
  }

  @include media-breakpoint-up(md) {
    bottom: rem(24);
    left: 50%;
    transform: translateX(-50%);
    padding: rem(16) rem(32);
    border-radius: $radius-default;
    max-width: 90vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.13);

    &__text {
      white-space: nowrap;
      margin-right: rem(32);
    }
  }

  &.active {
    display: flex;
  }
}
