.hero {
  overflow: hidden;
  padding-top: #{rem(16 + $header-height-sm)};
  background-color: var(--color-white);

  @include media-breakpoint-only(sm) {
    padding-bottom: rem(80);
    clip-path: ellipse(210% 100% at 50% 0);
  }

  @include media-breakpoint-only(md) {
    padding-bottom: rem(96);
    clip-path: ellipse(170% 100% at 50% 0);
  }

  @include media-breakpoint-up(lg) {
    padding-top: #{rem(16 + $header-height-lg)};
    padding-bottom: rem(96);
    clip-path: ellipse(120% 100% at 50% 0);
  }

  @media (min-width: 1680px) {
    clip-path: ellipse(85% 100% at 50% 0);
  }

  &__inner {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    @include media-breakpoint-up(lg) {
      align-items: center;
    }
  }

  &__picture {
    img {
      height: auto;
    }

    @include media-breakpoint-down(md) {
      order: 0;
      margin-bottom: rem(24);

      img {
        width: 100%;
      }
    }

    @include media-breakpoint-up(lg) {
      width: 41%;

      img {
        width: 60vw;
      }
    }

    @include media-breakpoint-up(xxl) {
      img {
        width: rem(1148);
      }
    }
  }

  &__content {
    @include media-breakpoint-down(md) {
      order: 1;
    }

    @include media-breakpoint-up(lg) {
      width: 59%;
    }
  }

  &__heading {
  }

  &__desc {
    margin-top: rem(4);

    strong {
      color: var(--color-primary);
    }

    @include media-breakpoint-up(lg) {
      margin-top: rem(30);
    }
  }

  &__form {
    margin-top: rem(20);

    @include media-breakpoint-up(lg) {
      margin-top: rem(56);
    }
  }
}

.header-indent {
  padding-top: rem($header-height-sm);

  @include media-breakpoint-up(lg) {
    padding-top: rem($header-height-lg);
  }
}
