.header-menu {
  display: none;
  padding-bottom: rem(12);
  @include text-default;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 rem(-8);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li {
  }

  a {
    display: block;
    padding: rem(8);
    text-decoration: none !important;
    color: inherit;
    transition: color $timing $easing;

    &:hover {
      color: var(--color-primary);
    }
  }

  @include media-breakpoint-down(sm) {
    ul {
      flex-direction: column;
    }

    a {

    }
  }
}
