.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  transition: box-shadow $timing $easing;

  &__inner {
  }

  .menu-opened &,
  .scrolled-from-zero & {
    box-shadow: 0 0 rem(16) rem(8) rgba(0, 0, 0, 0.07);
  }
}
