.header-bar {
  $sandwich-width: 28;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(16);
  padding-bottom: rem(16);
  transition-property: padding, height;
  transition-duration: $timing;
  transition-timing-function: $easing;

  &__logo {
    img {
      width: auto;
      height: rem(44);
      transition-property: width, height;
      transition-duration: $timing;
      transition-timing-function: $easing;

      @include media-breakpoint-up(lg) {
        height: rem(86);
      }
    }
  }

  .scrolled-from-zero & {
    padding-top: rem(8);
    padding-bottom: rem(8);
  }

  @include media-breakpoint-up(lg) {
    padding-top: rem(32);
    padding-bottom: rem(32);

    .scrolled-from-zero & {
      padding-top: rem(16);
      padding-bottom: rem(16);

      &__logo {
        img {
          height: rem(56);
        }
      }
    }
  }

  &__phone {
    margin-left: auto;
    margin-right: 7vw;

    @include media-breakpoint-up(lg) {
      margin-right: rem(64);
    }
  }

  &__sandwich {
    position: relative;
    border-radius: 0;
    border: 0;
    background-color: transparent;
    color: var(--color-primary);
    padding: 0;
    width: #{$sandwich-width}px;
    -webkit-tap-highlight-color: rgba(#fff, 0);

    &:before {
      content: '';
      position: absolute;
      top: -8px;
      right: -8px;
      bottom: -8px;
      left: -8px;
    }

    i {
      position: relative;
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 6px;
      background-color: currentColor;
      transition-duration: $timing;
      transition-timing-function: $easing;

      &:nth-child(1) {
        transition-property: color, transform;
      }

      &:nth-child(3) {
        transition-property: color, transform;
      }

      &:nth-child(2) {
        margin: 5px auto;
        transition-property: color, opacity, width;
      }
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: var(--color-primary-hover);

      i {
        &:nth-child(2) {
          width: 70%;
        }
      }
    }

    .menu-opened & {
      i {
        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }

        &:nth-child(2) {
          width: 0;
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
}

.header-phone {
  display: flex;
  align-items: center;

  &__icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: rem(20);
    width: rem(46);
    height: rem(46);
    background-color: var(--color-primary);

    svg {
      width: rem(16);
      height: rem(16);
      fill: var(--color-white)
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__link {
    font-size: rem(14);
    font-weight: 700;
    line-height: 1.3;
    text-decoration: none !important;
    color: var(--color-true-black);
    transition: color $timing $easing;

    &:hover {
      color: var(--color-primary-hover);
    }

    @include media-breakpoint-up(lg) {
      font-size: rem(24);
    }
  }

  &__btn {
    width: auto;
    padding: 0;
    border: 0;
    text-decoration: none !important;
    text-align: left;
    background-color: transparent;
    color: var(--color-primary);
    transition: color $timing $easing;

    &:hover {
      color: var(--color-primary-hover);
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
