@import "~nouislider";

.noUi-target {
  background: transparent;
  border: none;
  padding: 0 $btn-radius;
  border-radius: 4px;
  height: 2px;
  margin-top: -1px;
  margin-bottom: -1px;
  box-shadow: none;

  @include media-breakpoint-up(lg) {
    border-radius: 8px;
    height: 4px;
    margin-top: -2px;
    margin-bottom: -2px;
  }
}

.noUi-connects {
  background: var(--color-light);
  border-radius: 8px;
}

.noUi-connect {
  background: var(--color-primary);
}

.noUi-handle {
  cursor: grab;
  outline: none;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  background: var(--color-primary);
  overflow: visible;
  box-shadow: none;
  width: rem(24) !important;
  height: rem(24) !important;

  &:active {
    cursor: grabbing;
  }

  &:after {
    display: none;
  }

  &:before {
    display: none;
    //top: -8px;
    //right: -8px;
    //bottom: -8px;
    //left: -8px;
    //display: block;
    //height: auto;
    //width: auto;
    //background-color: transparent;
    //
    //@include media-breakpoint-only(sm) {
    //  right: -30px;
    //  left: -30px;
    //}
  }
}

.noUi-horizontal .noUi-handle {
  //top: -10px;
  top: rem(-10);
  right: -10px;
}
