:root {
  --color-primary: #06A3CD;
  --color-primary-hover: #0894BA;
  --color-secondary: #8BC053;

  --color-white: #fff;
  --color-true-black: #000;
  --color-black: #2E384B;
  --color-light: #E3E3E6;
  --color-gray: #828185;

  --color-warning: #E74F4A;

  --body-background-color: #F5F6F8;
}
