// Media breakpoints
$grid-breakpoints: (
    sm: 0,
    md: 640px,
    lg: 990px,
    xxl: 1900px,
) !default;

// Spacing sizes
$spacers: () !default;
$spacers: map-merge((
    0: 0,
    8: 8,
    16: 16,
    24: 24,
    32: 32,
    40: 40,
    48: 48,
    64: 64,
    72: 72,
    80: 80,
    96: 96,
    128: 128,
), $spacers);

$font-family-FiraSans: 'Fira Sans', Arial, sans-serif !default;

$colors: (
    "light": var(--color-light),
    "white": var(--color-white),
    "black": var(--color-black),
    "gray": var(--color-gray),
    "primary": var(--color-primary),
    "secondary": var(--color-secondary),
);

$timing: 0.3s;
$easing: ease;

$z-header: 200;
$z-footer: 100;
$z-popup: 500;

$container-gutter: 128;
$container-gutter-sm: 16;
$container-gutter-md: 32;
$container-inner-width: 1150;
$container-max-width: $container-gutter * 2 + $container-inner-width; // use: rem($container-max-width)

$radius-default: 8px;
$btn-radius: $radius-default;
$btn-height: 52;
$btn-height-lg: 58;

$header-height-sm: 76;
$header-height-lg: 150;

$payment-image-width-md: 47%;
$payment-image-width-lg: 55%;
