.address {
  margin-top: rem(24);
  margin-bottom: rem(24);

  @include media-breakpoint-up(lg) {
    margin-top: rem(40);
    margin-bottom: rem(40);
  }

  &__heading {
    margin-bottom: rem(12);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem(16);
    }
  }

  &__text {
    margin-top: rem(8);
    margin-bottom: rem(8);
  }

  &,
  &__heading,
  &__text {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
