@import "address";

.footer {
  position: relative;
  // z-index в styles/base/base.scss
  padding-top: rem(80);
  overflow: hidden;

  @include media-breakpoint-only(md) {
    padding-top: rem(112);
  }

  @include media-breakpoint-up(lg) {
    padding-top: rem(160);
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    display: block;
    border-radius: 50%;
    background-color: var(--color-white);

    @include media-breakpoint-only(sm) {
      width: 300vw;
      height: 300vw;
      right: 0;
      transform: translateX(23%);
    }

    @include media-breakpoint-only(md) {
      width: 200vw;
      height: 200vw;
      right: 0;
    }

    @include media-breakpoint-up(lg) {
      width: 100vw;
      height: 100vw;
      left: 0;
      transform: translateX(-16%);
    }
  }


  &__inner {

  }

  &__main {
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }

  &__heading {
    margin-bottom: rem(32);

    @include media-breakpoint-up(lg) {
      margin-bottom: rem(64);
    }
  }

  &__bottom {
    margin-top: rem(40);
    display: flex;
    align-items: flex-end;

    &-right {
      color: #fff;
    }

    @include media-breakpoint-only(sm) {
      flex-direction: column;
      align-items: stretch;
      padding-bottom: rem(16);

      &-right {
        height: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
      }
    }

    @include media-breakpoint-only(md) {
      padding-bottom: rem(32);
      justify-content: space-between;

      &-left {
        width: 37%;
      }

      &-right {
        margin-left: auto;
      }
    }

    @include media-breakpoint-up(lg) {
      margin-top: rem(96);

      &-left,
      &-right {
        padding-bottom: rem(40);
      }

      &-left {
        width: 55%;
        padding-right: 10%;
      }

      &-right {
        width: 45%;
      }
    }
  }

  &__image {
    position: absolute;
    z-index: -1;
    bottom: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }

    @include media-breakpoint-only(sm) {
      left: 0;
      width: 100%;
      padding-right: 19%;
      display: flex;
      justify-content: center;

      img {
        width: 158vw;
      }
    }

    @include media-breakpoint-only(md) {
      right: 0;
      width: 70%;
    }

    @include media-breakpoint-up(lg) {
      right: 0;
      width: 56%;
    }
  }
}

.madeby {
  display: flex;
  align-items: center;
  font-size: rem(11);
  line-height: 1;

  svg {
    margin-bottom: 1px;
    width: rem(73);
    height: auto;
    margin-left: rem(6);
  }

  @include media-breakpoint-up(lg) {
    font-size: rem(14);

    svg {
      width: rem(85);
    }
  }
}
