<div class="card-common__image image-container">
    <img src="{{ card.src }}"
         {% if card.srcset %}srcset="{{ card.srcset }}"{% endif %}
         alt="{{ card.alt }}">
</div>
<div class="card-common__main">
    {% if card.heading %}
        <div class="card-common__heading h3">{{ card.heading|raw }}</div>
    {% endif %}
    <hr class="card-common__hr">
    {% if card.desc %}
        <div class="card-common__desc text-default">{{ card.desc|raw }}</div>
    {% endif %}
</div>
