{% if card.href %}
    <a href="{{ card.href }}" class="card-common"{% if card.attr %} {{ card.attr }}{% endif %}>
        {% include 'body.twig' %}
    </a>
{% else %}
    <div class="card-common"{% if card.attr %} {{ card.attr }}{% endif %}>
        {% include 'body.twig' %}
    </div>
{% endif %}
