<!doctype html>
<html lang="ru">
{% set title = "Верстка Спортивный парк" %}
{% set breakpoints = {
    md: 640,
    lg: 990,
} %}
{% set imgPlaceholder = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#06a3cd">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:type" content="website">
    <meta property="og:title" content="ЖК «Спортивный Парк»"/>
    <meta property="og:description" content="Квартиры в районе Новознаменский в Краснодаре"/>
    <meta property="og:site_name" content="ЖК «Спортивный Парк»">
    <meta property="og:url" content="http://sp.ask-yug.com/">
    <meta property="og:image" content="assets/tmp/og.jpg"/>

    <link href="css/bundle.css?{{ date().getTime() }}" rel="stylesheet">
</head>
<body>
{% include 'blocks::header/header.twig' %}
<main>
    {% block content %}{% endblock %}
</main>
{% include 'blocks::footer/footer.twig' %}

{% include 'blocks::cookie-message.twig' %}

{% include 'blocks::popups/popup-callback.twig' %}
{% include 'blocks::popups/popup-advantage.twig' %}
{% include 'blocks::popups/popup-video.twig' %}

{% include 'blocks::popups/popup-thanks.twig' %}
{% include 'blocks::popups/popup-error.twig' %}

<script src="js/bundle.js?{{ date().getTime() }}" defer></script>
</body>
</html>
