.advantage {
  &__icon {
    margin-bottom: rem(32);

    img {
      width: rem(65);
      height: auto;
    }
  }

  &__heading {

  }

  &__desc {
    margin-top: rem(12);
    color: var(--color-gray);
  }
}

.popup-advantage {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
  }

  @include media-breakpoint-only(sm) {
    &__item {
      margin-bottom: rem(40);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include media-breakpoint-only(md) {
    &__list {
      margin: rem(-24);
    }

    &__item {
      width: 50%;
      padding: rem(24);
    }
  }

  @include media-breakpoint-up(lg) {
    &__list {
      margin: rem(-32);
    }

    &__item {
      width: 50%;
      padding: rem(32);
    }
  }
}
