.popup-callback {
  &__heading {
    margin-bottom: rem(12);
    text-align: center;
  }

  &__desc {
    text-align: center;
    color: var(--color-gray);

    @include media-breakpoint-up(md) {
      margin-left: rem(-16);
      margin-right: rem(-16);
    }
  }

  &__form {
    margin-top: rem(40);
  }
}
