.popup-message {
  text-align: center;

  &__icon {
    margin-bottom: rem(40);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(144);
    height: rem(144);
    border-radius: 50%;
    background-color: var(--color-primary);

    img,
    svg {
      width: rem(64);
      height: auto;
      fill: #fff;
    }
  }

  &__heading {
  }

  &__desc {
    margin-top: rem(12);
    color: var(--color-gray);
  }

  @include media-breakpoint-only(sm) {
    padding: 0;
  }

  @include media-breakpoint-only(md) {
    padding: rem(64);
  }

  @include media-breakpoint-up(lg) {
    padding: rem(64) rem(80);
  }
}
