.popup-simple {
  $b: #{&};

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  animation: fadeIn $timing $easing forwards;

  &__backdrop {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
    opacity: 0.9;
    transition: opacity $timing $easing;
  }

  &__flow {
    height: 100%;
    overflow-y: auto;
  }

  &__container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-white);
    color: var(--color-black);
    box-shadow: 0 0 rem(16) rgba(213, 221, 223, 0.41);
  }

  &__close {
    position: absolute;
    top: rem(16);
    right: rem(16);
  }

  &.opened {
    display: block;
  }

  @include media-breakpoint-down(sm) {
    &__flow {
      background-color: var(--color-white);
    }

    &__container {
      box-shadow: none;
      padding: rem(40) rem($container-gutter-sm) rem(48);
    }

    &__backdrop {
      z-index: -1;
    }
  }

  @include media-breakpoint-up(md) {
    &__flow {
      padding: rem(64);
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-height: 660px) {
        display: block; // для адекватной работы скролла
      }
    }

    &__close {
      top: rem(32);
      right: rem(32);
    }
  }

  &--thanks,
  &--error {
    @include media-breakpoint-down(sm) {
      #{$b}__flow {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
      }

      #{$b}__container {
        width: 100%;
        max-width: calc(100% - #{rem($container-gutter-sm*2)});
        box-shadow: 0 0 rem(16) rgba(213, 221, 223, 0.41);
      }
    }

    @include media-breakpoint-only(md) {
      #{$b}__container {
        width: rem(400);
      }
    }

    @include media-breakpoint-up(lg) {
      #{$b}__container {
        width: rem(480);
      }
    }
  }

  &--callback {
    @include media-breakpoint-up(md) {
      #{$b}__container {
        padding: rem(64);
        max-width: rem(566);
      }
    }

    @include media-breakpoint-up(lg) {
      #{$b}__container {
        padding: rem(80) rem(108);
      }
    }
  }

  &--advantage {
    @include media-breakpoint-only(md) {
      #{$b}__container {
        width: 100%;
        padding: rem(64);
      }
    }

    @include media-breakpoint-up(lg) {
      #{$b}__container {
        padding: rem(64) rem(80);
        max-width: rem(1056);
      }
    }
  }

  &--video {
    #{$b}__container {
      width: 100%;
      max-width: rem(980);
    }

    #{$b}__close {
      @include media-breakpoint-up(md) {
        top: auto;
        right: 0;
        bottom: calc(100% + #{rem(24)});
      }
    }
  }
}
