.nav-arrow {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(32);
  height: rem(32);
  border: none;
  padding: 0;
  border-radius: 0;
  transition-property: color, opacity;
  transition-duration: $timing;
  transition-timing-function: $easing;

  svg {
    fill: currentColor;
    width: rem(20);
    height: rem(20);
  }

  @include media-breakpoint-up(lg) {
    width: rem(64);
    height: rem(64);

    svg {
      width: rem(30);
      height: rem(30);
    }
  }

  &:focus {
    outline: none;
  }

  &--default {
    background-color: transparent;
    color: var(--color-primary);
  }

  &--white {
    background-color: transparent;
    color: var(--color-white);
  }

  &--black {
    background-color: transparent;
    color: var(--color-black);
  }

  &:not(.disabled) {
    &:focus,
    &:hover {
      opacity: 0.8;
    }
  }

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
