.pagination-group {
  display: flex;
  align-items: center;
  justify-content: center;

  .nav-arrow {
    @include media-breakpoint-up(lg) {
      position: absolute;
      z-index: 10;
      top: 50%;
      transform: translateY(-50%);

      &--prev {
        right: 100%;
      }

      &--next {
        left: 100%;
      }
    }
  }

  .hide-pagination & {
    display: none;
  }
}

.numeric-pagination {
  width: auto;
  text-align: center;
  min-width: rem(32);
  @include text-caption;
  color: var(--color-black);

  &--white {
    color: var(--color-white);
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}
