<div class="pagination-group">
    {% include 'components::pagination/nav-arrow-prev.twig' with {
        arrows: {
            theme: pagination.theme
        }
    } %}
    <div class="numeric-pagination numeric-pagination--{{ pagination.theme ?: 'default' }}"
         data-numeric-pagination></div>
    {% include 'components::pagination/nav-arrow-next.twig' with {
        arrows: {
            theme: pagination.theme
        }
    } %}
</div>
