<div class="popup-simple popup-simple--thanks" data-popup-thanks>
    <div class="popup-simple__flow">
        <div class="popup-simple__backdrop" data-popup-close></div>
        <div class="popup-simple__container">

            <div class="popup-message">
                <div class="popup-message__icon">
                    {% include 'images::check.svg' %}
                </div>
                <div class="popup-message__heading h3" data-popup-heading>Спасибо!</div>
                <div class="popup-message__desc text-default" data-popup-desc>Мы свяжемся с вами.</div>
            </div>

            {% include 'components::btn-close.twig' with {
                close: {
                    class: "popup-simple__close",
                    attr: "data-popup-close"
                }
            } %}
        </div>
    </div>
</div>
