<div class="popup-simple popup-simple--callback" data-popup-callback>
    <div class="popup-simple__flow">
        <div class="popup-simple__backdrop" data-popup-close></div>
        <div class="popup-simple__container">

            <div class="popup-callback">
                <div class="popup-callback__heading h3" data-popup-heading>Оставьте контакты</div>
                <div class="popup-callback__desc text-default">
                    Мы свяжемся с Вами в ближайшее время
                </div>
                <form action="ajax/send.php" class="popup-callback__form form-tall" data-form-validate>
                    <input type="hidden" name="FORM_NAME" value="Обратный звонок" data-popup-formname="Обратный звонок">
                    <!-- после закрытия формы значение value обнуляется на дефотлное из data-popup-formname -->
                    <div class="d-none" data-form-inputs-box></div>
                    <div class="form-tall__field">
                        {% include 'components::inputs/input.twig' with {
                            field: {
                                type: "text",
                                name: "ORDER[NAME]",
                                label: "Ваше имя",
                            }
                        } %}
                    </div>

                    <div class="form-tall__field">
                        {% include 'components::inputs/input.twig' with {
                            field: {
                                type: "tel",
                                name: "ORDER[PHONE]",
                                label: "Номер телефона",
                                required: true,
                            }
                        } %}
                    </div>

                    <div class="form-tall__btn">
                        {% include 'components::btn.twig' with {
                            btn: {
                                type: "submit",
                                theme: "primary",
                                text: "Отправить",
                            }
                        } %}
                    </div>

                    <div class="form-tall__agreement">
                        {% include 'components::inputs/checkbox.twig' with {
                            field: {
                                checked: true,
                                name: "ORDER[PERSONAL]",
                                text: "Я согласен на <a href='https://ask-yug.com/politic/' target='_blank'>обработку персональных данных</a>"
                            }
                        } %}
                    </div>
                </form>
            </div>

            {% include 'components::btn-close.twig' with {
                close: {
                    class: "popup-simple__close",
                    attr: "data-popup-close"
                }
            } %}
        </div>
    </div>
</div>
