<div class="popup-simple popup-simple--video" data-popup-video>
    <div class="popup-simple__flow">
        <div class="popup-simple__backdrop" data-popup-close></div>
        <div class="popup-simple__container">
            <div class="popup-video">
                <iframe width="560" height="315"
                        src="{{ imgPlaceholder }}"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>

            {% include 'components::btn-close.twig' with {
                close: {
                    class: "popup-simple__close",
                    attr: "data-popup-close"
                }
            } %}
        </div>
    </div>
</div>
