{% set advantages = [
    {
        icon: "assets/images/65/education.svg",
        heading: "Школы и детсады",
        desc: "Первая общеобразовательная школа на 1100 мест начнет работу с сентября 2021 года. Всего зарезервированы участки для 25 новых школ и 68 детских садов."
    },{
        icon: "assets/images/65/motorway.svg",
        heading: "Транспортный коридор",
        desc: "Новая дорога соединит Новознаменский, Знаменский, поселок Лорис и Индустриальный. До центральной части города можно будет доехать за 20 минут."
    },{
        icon: "assets/images/65/park.svg",
        heading: "Парки и скверы",
        desc: "Четверть всех земель района займут зеленые зоны. Планируется Центральный проспект с бульваром, который свяжет территории Новознаменского и Знаменского."
    },{
        icon: "assets/images/65/injection.svg",
        heading: "Медицинский кластер",
        desc: "Построят больницы скорой медпомощи, перинатальный центр, детскую и взрослую инфекционную больницу, онкологический центр."
    }
] %}

<div class="popup-simple popup-simple--advantage" data-popup-advantage>
    <div class="popup-simple__flow">
        <div class="popup-simple__backdrop" data-popup-close></div>
        <div class="popup-simple__container">

            <div class="popup-advantage">
                <div class="popup-advantage__list">
                    {% for item in advantages %}
                        <div class="popup-advantage__item">
                            <div class="advantage">
                                <div class="advantage__icon">
                                    <img src="{{ item.icon }}" alt="" loading="lazy">
                                </div>
                                <div class="advantage__heading h3">{{ item.heading|raw }}</div>
                                <div class="advantage__desc text-default">{{ item.desc|raw }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% include 'components::btn-close.twig' with {
                close: {
                    class: "popup-simple__close",
                    attr: "data-popup-close"
                }
            } %}
        </div>
    </div>
</div>
