<div class="popup-simple popup-simple--thanks" data-popup-error>
    <div class="popup-simple__flow">
        <div class="popup-simple__backdrop" data-popup-close></div>
        <div class="popup-simple__container">

            <div class="popup-message">
                <div class="popup-message__icon">
                    {% include 'images::close.svg' %}
                </div>
                <div class="popup-message__heading h3">Что-то пошло не&nbsp;так...</div>
                <div class="popup-message__desc text-default">
                    Не удалось отправить форму.<br>
                    Попробуйте сделать это&nbsp;позже.
                </div>
            </div>

            {% include 'components::btn-close.twig' with {
                close: {
                    class: "popup-simple__close",
                    attr: "data-popup-close"
                }
            } %}
        </div>
    </div>
</div>
