.card-infrastructure {
  $b: #{&};
  width: 100%;
  text-decoration: none !important;
  color: inherit;

  &__image {
    padding-top: 69%;
    border-radius: $radius-default;
    background-color: var(--color-white);
    box-shadow: 0 rem(8) rem(18) rgba(#000, 0.25);
  }

  &__content {
    margin-top: rem(16);

    @include media-breakpoint-up(lg) {
      margin-top: rem(24);
    }
  }

  &__heading {
  }

  &__desc {
    margin-top: rem(8);
    opacity: 0.35;
  }
}
