.advantages-list {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-down(md) {
    flex-direction: column;

    .card-advantage-shell {
      width: 100%;

      ~ .card-advantage-shell {
        margin-top: rem(16);
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin: rem(-20);

    .card-advantage-shell {
      padding: rem(20);
      width: 62%;

      &:nth-child(3n),
      &:nth-child(3n+2) {
        width: 38%;
      }
    }
  }
}

.card-advantage-shell {
  display: flex;
}

.card-advantage {
  $b: #{&};
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: $radius-default;
  padding: rem(32);
  height: rem(324);
  color: #fff;
  background-color: #C4C4C4;
  overflow: hidden;


  @include media-breakpoint-up(lg) {
    height: rem(380);
    padding: rem(48);
  }

  &__image {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    img {
      border-radius: inherit;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform $timing $easing;
      transform: scale(1.01);
    }
  }

  &__content {
    max-width: rem(320);
  }

  &__heading {
    @include h3;
  }

  &__desc {
    @include text-default;
    margin-top: rem(8);
  }

  &__badge {
    position: absolute;
    top: rem(24);
    right: rem(24);
    width: rem(104);
    height: rem(104);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: var(--color-primary);

    span {
      transition: opacity $timing $easing;
    }

    @include media-breakpoint-up(lg) {
      width: rem(144);
      height: rem(144);
      top: auto;
      right: rem(48);
      bottom: rem(48);
    }
  }

  @include media-breakpoint-up(lg) {
    &[data-popup-advantage-trigger] {
      cursor: pointer;

      &:hover {
        #{$b}__badge {
          span {
            opacity: 0.8;
          }
        }

        #{$b}__image {
          img {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
