.card-action {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;

    bottom: 0;
    right: 0;
    display: block;

    border-radius: $radius-default;
    background-color: var(--color-white);

    @include media-breakpoint-only(sm) {
      top: rem(96);
      width: 100%;
    }

    @include media-breakpoint-only(md) {
      top: 33%;
      width: 100%;
    }

    @include media-breakpoint-up(lg) {
      top: 0;
      width: 82%;
    }
  }

  &__image {
    border-radius: $radius-default;
    background-color: var(--color-light);

    img {
      width: 100%;
      height: auto;
      border-radius: inherit;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    margin-bottom: rem(16);
  }

  &__btn {
    margin-top: rem(20);
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: stretch;

    &__picture {
      width: 100%;
    }
  }

  @include media-breakpoint-only(md) {
    padding: 0 rem(64) rem(48);

    &__picture {
      max-width: rem(420);
      margin-bottom: rem(32);
    }

    &__main {
      max-width: rem(380);
    }
  }

  @include media-breakpoint-only(sm) {
    padding: 0 rem(24) rem(24);


    &__picture {
      margin-bottom: rem(24);
    }

    &__btn {
      .btn {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: rem(48);
    padding-bottom: rem(48);

    &__picture {
      width: 47%;
    }

    &__main {
      width: 53%;
      padding-left: rem(96);
      padding-right: rem(80);
    }

    &__heading {
      margin-bottom: rem(20);
    }

    &__btn {
      margin-top: rem(40);
    }
  }
}
