.card-apartment {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: rem(20);
  border-radius: $radius-default;
  background-color: var(--color-white);
  cursor: pointer;

  @include media-breakpoint-up(lg) {
    padding: rem(24) rem(48) rem(32);
  }

  &--placeholder {
    width: rem(400);
  }

  &__image {
    margin-top: rem(16);
    margin-bottom: rem(16);
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 92%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: rem(24);
    }
  }

  &__heading {

  }

  &__desc {
    color: var(--color-gray);
  }

  &__btn {
    margin-top: auto;

    .btn {
      margin-top: rem(24);
      width: 100%;
    }
  }

}
