.card-common {
  width: 100%;
  border-radius: $radius-default;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  color: var(--color-black);
  overflow: hidden;
  box-shadow: 0 rem(8) rem(18) rgba(#000, 0.075);
  text-decoration: none !important;
  transition-property: box-shadow;
  transition-duration: $timing;
  transition-timing-function: $easing;
  cursor: pointer;

  &__image {
    padding-top: 75%;
    background-color: var(--color-light);
  }

  &__main {
    flex-grow: 1;
    padding: rem(32);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include media-breakpoint-up(lg) {
      padding: rem(40) rem(32) rem(60);
    }
  }

  &__heading {
    &:last-child {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &__hr {
    margin-top: rem(20);
    margin-bottom: rem(20);
    align-self: stretch;
    height: 0;
    border: 0;
    border-top: 1px solid var(--color-light);

    @include media-breakpoint-up(lg) {
      margin: rem(24) rem(32);
    }
  }

  &__desc {
    color: var(--color-gray);
  }

  @include media-breakpoint-up(lg) {
    &:hover {
      box-shadow: 0 rem(8) rem(18) rgba(#000, 0.45);
    }
  }
}
