@import "card-common";
@import "card-advantage";
@import "card-apartment";
@import "card-infrastructure";
@import "card-action";

.gradient-placeholder {
  display: block;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(#f5f5f5, 0.7) 0%, rgba(#000, 0.5) 50%, rgba(#f5f5f5, 1) 100%);
}
