@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@mixin h1 {
  font-style: normal;
  font-weight: normal;
  font-size: rem(28);
  line-height: rem(34);

  @include media-breakpoint-up(lg) {
    font-size: rem(60);
    line-height: rem(72);
  }
}

@mixin h2 {
  font-style: normal;
  font-weight: normal;
  font-size: rem(25);
  line-height: rem(30);

  @include media-breakpoint-up(lg) {
    font-size: rem(50);
    line-height: rem(60);
  }
}

@mixin h3 {
  font-style: normal;
  font-weight: normal;
  font-size: rem(20);
  line-height: rem(29);

  @include media-breakpoint-up(lg) {
    font-size: rem(28);
    line-height: rem(40);
  }
}

@mixin h4 {
  font-style: normal;
  font-weight: normal;
  font-size: rem(16);
  line-height: rem(23);

  @include media-breakpoint-up(lg) {
    font-size: rem(24);
    line-height: rem(34);
  }
}

@mixin text-default {
  font-style: normal;
  font-weight: normal;
  font-size: rem(14);
  line-height: rem(20);

  @include media-breakpoint-up(lg) {
    font-size: rem(18);
    line-height: rem(26);
  }
}

@mixin text-caption {
  font-style: normal;
  font-weight: normal;
  font-size: rem(11);
  line-height: rem(16);

  @include media-breakpoint-up(lg) {
    font-size: rem(14);
    line-height: rem(20);
  }
}

@mixin text-input {
  font-size: rem(14);

  @include media-breakpoint-up(lg) {
    font-size: rem(18);
  }
}

@mixin link-decorated {
  text-decoration: none !important;
  border-bottom: 1px solid currentColor;
  transition: color $timing $easing;

  &:hover {
    color: var(--color-primary-hover);
  }
}

@mixin link-latent {
  text-decoration: none !important;
  border-bottom: 1px solid transparent;
  transition: border-color $timing $easing;

  &:hover {
    border-bottom-color: currentColor;
  }
}
