<label class="checkbox checkbox--{{ field.theme ?: 'light' }}">
    <input type="{% if field.radio %}radio{% else %}checkbox{% endif %}"
           class="checkbox__input" name="{{ field.name }}" value="{{ field.value }}"
        {% if field.required %} required{% endif %}
        {% if field.disabled %} disabled{% endif %}
        {% if field.checked %} checked{% endif %}
        {{ field.attr|raw }}
    >
    <span class="checkbox__box"></span>
    {% if field.text %}
        <span class="checkbox__text">{{ field.text }}</span>
    {% endif %}
</label>
