<label class="field" data-field="true">
    <input type="{{ field.type ?: "text" }}"
           class="input input--{{ field.theme ?: 'light' }}{% if field.required %} required{% endif %}"
           placeholder=" "
           {% if field.name %}name="{{ field.name }}"{% endif %}
        {% if field.required %}required{% endif %}
        {% if field.autocomplete %} autocomplete="{{ field.autocomplete }}"{% endif %}
        {% if field.attr %} {{ field.attr }}{% endif %}
        {% if field.id %} id="{{ field.id }}" {% endif %}
        {% if field.message %} data-field-error-message="{{ field.message }}" {% endif %}
    >
    {% if field.label %}<span class="field__label">{{ field.label|raw }}</span>{% endif %}
    <span class="field__error" data-field-error="true"></span>
</label>


