<label class="field">
    <textarea class="input input--{{ field.theme ?: 'light' }}{% if field.required %} required{% endif %}"
              {% if field.name %}name="{{ field.name }}"{% endif %}
        placeholder=" "
        {% if field.required %}required{% endif %}
        {% if field.autocomplete %} autocomplete="{{ field.autocomplete }}"{% endif %}
        {% if field.attr %} {{ field.attr }}{% endif %}
        {% if field.id %} id="{{ field.id }}" {% endif %}
    ></textarea>
    {% if field.label %}<span class="field__label">{{ field.label|raw }}</span>{% endif %}
    <span class="field__error" data-field-error="true"></span>
</label>
