$slider-gutter-sm: 8;
$slider-gutter: 20;

.slider-card-common {
  position: relative;

  @include media-breakpoint-only(sm) {
    margin-left: rem(-$container-gutter-sm);
    margin-right: rem(-$container-gutter-sm);
    overflow: hidden;

    .swiper-container {
      margin-left: rem(-$slider-gutter-sm);
      margin-right: rem(-$slider-gutter-sm);
      padding-left: rem($container-gutter-sm);
      padding-right: rem($container-gutter-sm * 2);
    }
  }

  @include media-breakpoint-up(md) {
    .swiper-container {
      margin: rem(-24) rem(-$slider-gutter);
      padding: rem(24) 0;
    }
  }

  .swiper-slide {
    height: auto;
    display: flex;
    padding-left: rem($slider-gutter-sm);
    padding-right: rem($slider-gutter-sm);

    @include media-breakpoint-up(md) {
      padding-left: rem($slider-gutter);
      padding-right: rem($slider-gutter);
    }

    @include media-breakpoint-only(md) {
      width: 50%;
    }

    @include media-breakpoint-up(lg) {
      width: 33.33%;
    }
  }

  .pagination-group {
    margin-top: rem(24);
  }
}
