{% set advantages = [
    {
        src: "assets/tmp/cards/card-advantage-1.jpg",
        srcset: "assets/tmp/cards/card-advantage-1@2x.jpg 2x",
        heading: "Удобные планировки",
        desc: "Комнаты просторные и&nbsp;правильной формы, потолки высотой 2,7&nbsp;метра."
    },{
        src: "assets/tmp/cards/card-advantage-2.jpg",
        srcset: "assets/tmp/cards/card-advantage-2@2x.jpg 2x",
        heading: "Отделка на выбор",
        desc: "Выбирайте предчистовую, улучшенную или готовый ремонт!"
    },{
        src: "assets/tmp/cards/card-advantage-3.jpg",
        srcset: "assets/tmp/cards/card-advantage-3@2x.jpg 2x",
        heading: "На пляж без пробок",
        desc: "У района удобный выезд к&nbsp;М4 — дороги, ведущий прямо к&nbsp;Чёрному&nbsp;морю!"
    },{
        popup: true,
        src: "assets/tmp/cards/card-advantage-4.jpg",
        srcset: "assets/tmp/cards/card-advantage-4@2x.jpg 2x",
        heading: "Перспективный район",
        desc: "Комплексное развитие территории поднимет ценность вашей квартиры!"
    }
] %}

<section id="section-advantages" class="section">
    <div class="container">
        <div class="section-intro">
            <h2 class="section-intro__heading h2">Преимущества ЖК</h2>
        </div>

        <div class="advantages-list">
            {% for card in advantages %}
                <div class="card-advantage-shell">
                    {% include 'components::cards/card-advantage.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
