{% set paymentTabs = [
    {
        modifier: "calculator",
        tabText: "Ипотека",
        calc: true,
    },{
        modifier: "installment",
        tabText: "Рассрочка",
        heading: "Рассрочка 0%",
        desc: "Рассрочка без удорожания на 6 месяцев",
        btn: {
            minWidth: true,
            text: "Узнать подробности",
            attr: 'data-popup-callback-trigger="Узнать подробности рассрочки"',
            dataPopup: [
                {
                    "exampleKey[]": "exampleValue"
                }
            ]
        },
        src: "assets/tmp/payment/payment-2.jpg",
        srcset: "assets/tmp/payment/payment-2@2x.jpg 2x"
    },{
        modifier: "mcapital",
        tabText: "Маткапитал",
        heading: "Маткапитал",
        desc: "Используйте его для оплаты квартиры",
        btn: {
            minWidth: true,
            text: "Узнать подробности",
            attr: 'data-popup-callback-trigger="Узнать подробности маткапитала"',
            dataPopup: [
                {
                    "exampleKey[]": "exampleValue"
                }
            ]
        },
        src: "assets/tmp/payment/payment-3.jpg",
        srcset: "assets/tmp/payment/payment-3@2x.jpg 2x"
    }
] %}

<section id="section-payment" class="section section--padded bg-white mt-0 mb-0 section-payment" data-tab-group>
    <div class="container section-payment__inner">
        <div class="section-payment__head">
            <h2 class="section-payment__heading h2">Способы покупки</h2>
            <div class="section-payment__tabs tabs tabs--default">
                {% for tab in paymentTabs %}
                    <button class="tabs__item{% if loop.first %} active{% endif %}" type="button"
                            data-tab-trigger="{{ tab.modifier }}">{{ tab.tabText|raw }}</button>
                {% endfor %}
            </div>
        </div>

        <div class="section-payment__main">
            {% for tab in paymentTabs %}
                {% if tab.calc %}
                    <div class="active" data-tab-content="calculator">
                        {% include 'blocks::calculator.twig' %}
                    </div>
                {% else %}
                    <div class="payment-method" data-tab-content="{{ tab.modifier }}">
                        <div class="payment-method__side">
                            <div class="payment-method__image image-container">
                                <img src="{{ tab.src }}"
                                     srcset="{{ tab.srcset }}"
                                     loading="lazy"
                                     alt="">
                            </div>
                        </div>
                        <div class="payment-method__main">
                            <div class="payment-method__heading h3">{{ tab.heading|raw }}</div>
                            <div class="payment-method__desc text-default">{{ tab.desc|raw }}</div>
                            <form action="ajax/send.php" class="payment-method__form form-tall" data-form-validate>
                                <div class="form-tall__field">
                                    {% include 'components::inputs/input.twig' with {
                                        field: {
                                            type: "tel",
                                            name: "ORDER[PHONE]",
                                            label: "Номер телефона",
                                            required: true,
                                        }
                                    } %}
                                </div>

                                <div class="form-tall__btn">
                                    {% include 'components::btn.twig' with {
                                        btn: {
                                            type: "submit",
                                            theme: "primary",
                                            text: "Узнать подробности",
                                        }
                                    } %}
                                </div>

                                <div class="form-tall__agreement">
                                    {% include 'components::inputs/checkbox.twig' with {
                                        field: {
                                            checked: true,
                                            name: "ORDER[PERSONAL]",
                                            text: "Я согласен на <a href='https://ask-yug.com/politic/' target='_blank'>обработку персональных данных</a>"
                                        }
                                    } %}
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
