{% set cardsCommon = [
    {
        src: "assets/tmp/cards/card-common-1.jpg",
        srcset: "assets/tmp/cards/card-common-1@2x.jpg 2x",
        heading: "Февраль",
        desc: "2021",
        attr: "data-progress-gallery data-progress-month='5' data-progress-year='2021'"
    },{
        src: "assets/tmp/cards/card-common-1.jpg",
        srcset: "assets/tmp/cards/card-common-1@2x.jpg 2x",
        heading: "Март",
        desc: "2021",
        attr: "data-progress-gallery data-progress-month='5' data-progress-year='2021'"
    },{
        src: "assets/tmp/cards/card-common-1.jpg",
        srcset: "assets/tmp/cards/card-common-1@2x.jpg 2x",
        heading: "Апрель",
        desc: "2021",
        attr: "data-progress-gallery data-progress-month='5' data-progress-year='2021'"
    },{
        src: "assets/tmp/cards/card-common-1.jpg",
        srcset: "assets/tmp/cards/card-common-1@2x.jpg 2x",
        heading: "Февраль",
        desc: "2021",
        attr: "data-progress-gallery data-progress-month='5' data-progress-year='2021'"
    },{
        src: "assets/tmp/cards/card-common-1.jpg",
        srcset: "assets/tmp/cards/card-common-1@2x.jpg 2x",
        heading: "Апрель",
        desc: "2021",
        attr: "data-progress-gallery data-progress-month='5' data-progress-year='2021'"
    },{
        src: "assets/tmp/cards/card-common-1.jpg",
        srcset: "assets/tmp/cards/card-common-1@2x.jpg 2x",
        heading: "Февраль",
        desc: "2021",
        attr: "data-progress-gallery data-progress-month='5' data-progress-year='2021'"
    },{
        src: "assets/tmp/cards/card-common-1.jpg",
        srcset: "assets/tmp/cards/card-common-1@2x.jpg 2x",
        heading: "Апрель",
        desc: "2021",
        attr: "data-progress-gallery data-progress-month='5' data-progress-year='2021'"
    }
] %}

<section id="section-progress" class="section section--padded bg-primary color-white mt-0">
    <div class="container">
        <div class="section-intro text-center">
            <h2 class="section-intro__heading h2">Ход строительства</h2>
            <div class="section-intro__desc text-default">Держим уверенный темп работ</div>
        </div>

        <div class="slider-card-common" data-slider-common-wrap>
            <div class="swiper-container" data-slider-common>
                <div class="swiper-wrapper">
                    {% for card in cardsCommon %}
                        <div class="swiper-slide">
                            {% include 'components::cards/card-common/card-common.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include 'components::pagination/pagination.twig' with {
                pagination: {
                    theme: "white"
                }
            } %}
        </div>
    </div>
</section>
