{% set documents = [
    {
        heading: "Проектная декларация ЖК Спортивный парк от 05.11.2019"
    },{
        heading: "Разрешение на ввод ЖК Спортивный парк л2"
    },{
        heading: "Экспертиза № 77-2-1-3-0018-18 от 03.05.18г. Литер 2,3,5,6"
    },{
        heading: "Разрешение на ввод ЖК Спортивный парк л4"
    },{
        heading: "Разрешение на ввод ЖК Спортивный парк л1"
    },{
        heading: "Разрешение на ввод ЖК Спортивный парк л1"
    },{
        heading: "Разрешение на строительство Войсковая, 4"
    },{
        heading: "Разрешение на ввод ЖК Спортивный парк л1"
    }
] %}

<section id="section-documents" class="section" data-more-documents-wrap>
    <div class="container">
        <div class="section-intro text-center">
            <h2 class="section-intro__heading h2">Скачайте документы на строительство</h2>
        </div>

        <div class="documents-list" data-more-documents-container>
            {% for document in documents %}
                {% include 'components::document-download.twig' %}
            {% endfor %}
        </div>

        <div class="show-more mt-40 d-md-none">
            {% include 'components::btn.twig' with {
                btn: {
                    text: "Посмотреть все",
                    attr: "data-more-documents-btn data-btn-reverse-text='Скрыть'",
                }
            } %}
        </div>
    </div>
</section>
