{% set cardsCommon = [
    {
        href: "#",
        src: "assets/tmp/cards/card-common-1.jpg",
        srcset: "assets/tmp/cards/card-common-1@2x.jpg 2x",
        heading: "ЖК «Премьера»",
        desc: "от 4 737 700 ₽",
        attr: "target='_blank'"
    },
    {
        href: "#",
        src: "assets/tmp/cards/card-common-4.jpg",
        srcset: "assets/tmp/cards/card-common-4@2x.jpg 2x",
        heading: "ЖК «Новелла»",
        desc: "от 3 442 230 ₽",
        attr: "target='_blank'"
    }
] %}

<section id="section-others" class="section">
    <div class="container">
        <div class="section-intro text-center">
            <h2 class="section-intro__heading h2">Не смогли определиться с&nbsp;квартирой?</h2>
            <div class="section-intro__desc text-default">Посмотрите варианты в&nbsp;других наших&nbsp;ЖК</div>
        </div>

        <div class="slider-card-common" data-slider-common-wrap>
            <div class="swiper-container" data-slider-common>
                <div class="swiper-wrapper">
                    {% for card in cardsCommon %}
                        <div class="swiper-slide">
                            {% include 'components::cards/card-common/card-common.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include 'components::pagination/pagination.twig' with {
                pagination: {
                    theme: "default"
                }
            } %}
        </div>
    </div>
</section>
