{% set apartmentsTypes = [
    {
        type: "-1",
        icon: "images::infinity.svg",
        heading: "Все объекты"
    },{
        type: "c",
        text: "С",
        heading: "Студии"
    },{
        type: "1",
        text: "1",
        heading: "1-комнатные"
    },{
        type: "2",
        text: "2",
        heading: "2-комнатные"
    }
] %}

<section id="section-apartments" class="section section-apartments" data-apartments>
    <div class="container section-apartments__inner">
        <div class="section-apartments__side">
            <h2 class="section-apartments__heading h2">Квартиры и&nbsp;цены</h2>

            <div class="section-apartments__filter">
                {% for item in apartmentsTypes %}
                    <div class="section-apartments__filter-item">
                        <button type="button" class="tab-type" data-apartments-tab="{{ item.type }}">
                            <i class="tab-type__badge">
                                {% if item.icon %}{% include ~ item.icon %}{% endif %}
                                {% if item.text %}{{ item.text }}{% endif %}
                            </i>
                            <span class="tab-type__heading">{{ item.heading|raw }}</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="section-apartments__main">
            <div class="swiper-container" data-slider-apartments>
                <div class="swiper-wrapper">
                    <div class="card-apartment card-apartment--placeholder">
                        <div class="card-apartment__image"></div>
                        <div class="card-apartment__heading h3">Комнатность</div>
                        <div class="card-apartment__desc text-default">Общая площадь</div>
                        <div class="card-apartment__btn">
                            <button type="button" class="btn btn--default btn--primary"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-apartments__arrows">
                {% include 'components::pagination/nav-arrows.twig' with {
                    arrows: {
                        theme: "black"
                    }
                } %}
            </div>
        </div>
    </div>
</section>
