{% set cardsCommon = [
    {
        src: "assets/tmp/cards/card-common-1.jpg",
        srcset: "assets/tmp/cards/card-common-1@2x.jpg 2x",
        heading: "Отзывы о ЖК «Спортивный парк»",
        desc: "Марина Прокопова",
        attr: "data-popup-video-trigger data-youtube-src='https://www.youtube.com/embed/yBSIrO1BLXw'"
    },
    {
        src: "assets/tmp/cards/card-common-2.jpg",
        srcset: "assets/tmp/cards/card-common-2@2x.jpg 2x",
        heading: "Отзывы о ЖК «Спортивный парк»",
        desc: "Марина Прокопова",
        attr: "data-popup-video-trigger data-youtube-src='https://www.youtube.com/embed/yBSIrO1BLXw'"
    },
    {
        src: "assets/tmp/cards/card-common-3.jpg",
        srcset: "assets/tmp/cards/card-common-3@2x.jpg 2x",
        heading: "Отзывы о ЖК «Спортивный парк»",
        desc: "Марина Прокопова",
        attr: "data-popup-video-trigger data-youtube-src='https://www.youtube.com/embed/yBSIrO1BLXw'"
    },
    {
        src: "assets/tmp/cards/card-common-3.jpg",
        srcset: "assets/tmp/cards/card-common-3@2x.jpg 2x",
        heading: "Отзывы о ЖК «Спортивный парк»",
        desc: "Марина Прокопова",
        attr: "data-popup-video-trigger data-youtube-src='https://www.youtube.com/embed/yBSIrO1BLXw'"
    },
    {
        src: "assets/tmp/cards/card-common-3.jpg",
        srcset: "assets/tmp/cards/card-common-3@2x.jpg 2x",
        heading: "Отзывы о ЖК «Спортивный парк»",
        desc: "Марина Прокопова",
        attr: "data-popup-video-trigger data-youtube-src='https://www.youtube.com/embed/yBSIrO1BLXw'"
    }
] %}

<section class="section section--padded bg-secondary color-white">
    <div class="container">
        <div class="section-intro text-center">
            <h2 class="section-intro__heading h2">Отзывы наших жильцов</h2>
        </div>

        <div class="slider-card-common" data-slider-common-wrap>
            <div class="swiper-container" data-slider-common>
                <div class="swiper-wrapper">
                    {% for card in cardsCommon %}
                        <div class="swiper-slide">
                            {% include 'components::cards/card-common/card-common.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include 'components::pagination/pagination.twig' with {
                pagination: {
                    theme: "white"
                }
            } %}
        </div>
    </div>
</section>
