{% set mapOptions = {
    center: [45.044354, 39.107443],
    centerMobile: [45.044354, 39.107443],
    zoom: 14,
    zoomMobile: 14
} %}

{% set marks = [
    {
        customBalloon: {
        light: true,
        label: 'ЖК Спортивный Парк'
    },
        position: [45.046453, 39.113497],
        iconImageHref: "assets/images/map/marker-logo.svg",
        iconImageSize:[106, 61],
        iconImageOffset: [-53, -30],
        param: "main"
    },{
        customBalloon: {
            light: true,
            label: 'Аптека №1'
        },
        position: [45.051246, 39.118713],
        iconImageHref: "assets/images/map/marker-pharmacy.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "pharmacy"
    },{
        customBalloon: {
            light: true,
            label: 'Социальная аптека'
        },
        position: [45.042239, 39.110215],
        iconImageHref: "assets/images/map/marker-pharmacy.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "pharmacy"
    },{
        customBalloon: {
            light: true,
            label: 'Аптека'
        },
        position: [45.042209, 39.103521],
        iconImageHref: "assets/images/map/marker-pharmacy.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "pharmacy"
    },{
        customBalloon: {
            light: true,
            label: 'Аптека Добрый доктор'
        },
        position: [45.039379, 39.108456],
        iconImageHref: "assets/images/map/marker-pharmacy.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "pharmacy"
    },{
        customBalloon: {
            light: true,
            label: 'Частный детский сад Дядя Федор'
        },
        position: [45.055858, 39.122026],
        iconImageHref: "assets/images/map/marker-kinder.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "kinder"
    },{
        customBalloon: {
            light: true,
            label: 'Детский развивающий центр Сёма'
        },
        position: [45.054155, 39.122498],
        iconImageHref: "assets/images/map/marker-kinder.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "kinder"
    },{
        customBalloon: {
            light: true,
            label: 'Детский сад № 161'
        },
        position: [45.058996, 39.145734],
        iconImageHref: "assets/images/map/marker-kinder.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "kinder"
    },{
        customBalloon: {
            light: true,
            label: 'Детский сад № 222'
        },
        position: [45.044537, 39.120971],
        iconImageHref: "assets/images/map/marker-kinder.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "kinder"
    },{
        customBalloon: {
            light: true,
            label: 'Школа-сад Новатор'
        },
        position: [45.040601, 39.112974],
        iconImageHref: "assets/images/map/marker-school.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "kinder"
    },{
        customBalloon: {
            light: true,
            label: 'Детский сад № 214'
        },
        position: [45.041476, 39.108568],
        iconImageHref: "assets/images/map/marker-kinder.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "kinder"
    },{
        customBalloon: {
            light: true,
            label: 'Детский сад № 201 Планета детства'
        },
        position: [45.039860, 39.122899],
        iconImageHref: "assets/images/map/marker-kinder.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "kinder"
    },{
        customBalloon: {
            light: true,
            label: 'Детский сад комбинированного вида № 211'
        },
        position: [45.042091, 39.098847],
        iconImageHref: "assets/images/map/marker-kinder.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "kinder"
    },{
        customBalloon: {
            light: true,
            label: 'МБДОУ детский сад комбинированного Вида № 212'
        },
        position: [45.043530, 39.112649],
        iconImageHref: "assets/images/map/marker-kinder.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "kinder"
    },{
        customBalloon: {
            light: true,
            label: 'Чоу ДПО УКК Корпорации АК Эскм'
        },
        position: [45.049840, 39.094986],
        iconImageHref: "assets/images/map/marker-school.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "school"
    },{
        customBalloon: {
            light: true,
            label: 'Школа № 84'
        },
        position: [45.041663, 39.111218],
        iconImageHref: "assets/images/map/marker-school.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "school"
    },{
        customBalloon: {
            light: true,
            label: 'Школа № 83'
        },
        position: [45.040626, 39.105988],
        iconImageHref: "assets/images/map/marker-school.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "school"
    },{
        customBalloon: {
            light: true,
            label: 'Гимназия № 82'
        },
        position: [45.039530, 39.101321],
        iconImageHref: "assets/images/map/marker-school.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "school"
    },{
        customBalloon: {
            light: true,
            label: 'МБОУ СОШ № 37'
        },
        position: [45.034515, 39.094349],
        iconImageHref: "assets/images/map/marker-school.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "school"
    },{
        customBalloon: {
            light: true,
            label: 'Здоровье'
        },
        position: [45.035092, 39.100942],
        iconImageHref: "assets/images/map/marker-medicine.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "medicine"
    },{
        customBalloon: {
            light: true,
            label: 'Детская городская поликлиника № 7'
        },
        position: [45.038003, 39.090916],
        iconImageHref: "assets/images/map/marker-medicine.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "medicine"
    },{
        customBalloon: {
            light: true,
            label: 'Больница, поликлиника'
        },
        position: [45.030573, 39.114090],
        iconImageHref: "assets/images/map/marker-medicine.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "medicine"
    },{
        customBalloon: {
            light: true,
            label: 'ЛОР-клиника'
        },
        position: [45.039836, 39.109855],
        iconImageHref: "assets/images/map/marker-medicine.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "medicine"
    },{
        customBalloon: {
            light: true,
            label: 'Городская поликлиника № 17'
        },
        position: [45.028884, 39.090814],
        iconImageHref: "assets/images/map/marker-medicine.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "medicine"
    },{
        customBalloon: {
            light: true,
            label: 'Детская городская поликлиника №8'
        },
        position: [45.057726, 39.142442],
        iconImageHref: "assets/images/map/marker-medicine.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "medicine"
    },{
        customBalloon: {
            light: true,
            label: 'Магазин мяса Мясорубка'
        },
        position: [45.051382, 39.118546],
        iconImageHref: "assets/images/map/marker-market.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "market"
    },{
        customBalloon: {
            light: true,
            label: 'Милена-Краснодар'
        },
        position: [45.052174, 39.110514],
        iconImageHref: "assets/images/map/marker-market.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "market"
    },{
        customBalloon: {
            light: true,
            label: 'Универсам Магнит'
        },
        position: [45.042593, 39.110666],
        iconImageHref: "assets/images/map/marker-market.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "market"
    },{
        customBalloon: {
            light: true,
            label: 'Визит'
        },
        position: [45.042715, 39.113756],
        iconImageHref: "assets/images/map/marker-market.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "market"
    },{
        customBalloon: {
            light: true,
            label: 'Универсам Магнит'
        },
        position: [45.041483, 39.105409],
        iconImageHref: "assets/images/map/marker-market.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "market"
    },{
        customBalloon: {
            light: true,
            label: 'Семеновская'
        },
        position: [45.048351, 39.111494],
        iconImageHref: "assets/images/map/marker-bus.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "bus"
    },{
        customBalloon: {
            light: true,
            label: 'Муромская'
        },
        position: [45.046798, 39.114200],
        iconImageHref: "assets/images/map/marker-bus.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "bus"
    },{
        customBalloon: {
            light: true,
            label: 'Войсковая'
        },
        position: [45.047214, 39.118381],
        iconImageHref: "assets/images/map/marker-bus.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "bus"
    },{
        customBalloon: {
            light: true,
            label: 'Демидовская'
        },
        position: [45.050071, 39.111257],
        iconImageHref: "assets/images/map/marker-bus.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "bus"
    },{
        customBalloon: {
            light: true,
            label: 'Соборный бульвар'
        },
        position: [45.051440, 39.106642],
        iconImageHref: "assets/images/map/marker-green.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "green"
    },{
        customBalloon: {
            light: true,
            label: 'Сормовский бульвар'
        },
        position: [45.041391, 39.110538],
        iconImageHref: "assets/images/map/marker-green.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "green"
    },{
        customBalloon: {
            light: true,
            label: 'Сквер Созвездий'
        },
        position: [45.036561, 39.099808],
        iconImageHref: "assets/images/map/marker-green.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "green"
    },{
        customBalloon: {
            light: true,
            label: 'Карасунские озера'
        },
        position: [45.042406, 39.122020],
        iconImageHref: "assets/images/map/marker-green.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "green"
    },{
        customBalloon: {
            light: true,
            label: 'Тюляевский бульвар'
        },
        position: [45.038420, 39.099571],
        iconImageHref: "assets/images/map/marker-green.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "green"
    },{
        customBalloon: {
            light: true,
            label: 'Кафе Очаг'
        },
        position: [45.050367, 39.117983],
        iconImageHref: "assets/images/map/marker-cafe.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "cafe"
    },{
        customBalloon: {
            light: true,
            label: 'Dim coffee'
        },
        position: [45.047982, 39.119057],
        iconImageHref: "assets/images/map/marker-cafe.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "cafe"
    },{
        customBalloon: {
            light: true,
            label: 'Dim coffee'
        },
        position: [45.058877, 39.104512],
        iconImageHref: "assets/images/map/marker-cafe.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "cafe"
    },{
        customBalloon: {
            light: true,
            label: 'Dim coffee'
        },
        position: [45.059537, 39.130104],
        iconImageHref: "assets/images/map/marker-cafe.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "cafe"
    },{
        customBalloon: {
            light: true,
            label: 'Кофе Южный город'
        },
        position: [45.050312, 39.129294],
        iconImageHref: "assets/images/map/marker-cafe.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "cafe"
    },{
        customBalloon: {
            light: true,
            label: 'Ресторан Атлант'
        },
        position: [45.043537, 39.113594],
        iconImageHref: "assets/images/map/marker-cafe.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "cafe"
    },{
        customBalloon: {
            light: true,
            label: 'Столовая Тарелка'
        },
        position: [45.044126, 39.119751],
        iconImageHref: "assets/images/map/marker-cafe.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "cafe"
    },{
        customBalloon: {
            light: true,
            label: "Домино&#8242;с пицца"
        },
        position: [45.039412, 39.096210],
        iconImageHref: "assets/images/map/marker-cafe.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "cafe"
    },{
        customBalloon: {
            light: true,
            label: 'Кафе Арарат'
        },
        position: [45.040980, 39.113950],
        iconImageHref: "assets/images/map/marker-cafe.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "cafe"
    },{
        customBalloon: {
            light: true,
            label: 'Хлеб да пирожок'
        },
        position: [45.048721, 39.122369],
        iconImageHref: "assets/images/map/marker-bakery.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "cafe"
    },{
        customBalloon: {
            light: true,
            label: 'Деревня Италия'
        },
        position: [45.056025, 39.143037],
        iconImageHref: "assets/images/map/marker-bakery.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "cafe"
    },{
        customBalloon: {
            light: true,
            label: 'Пекарня'
        },
        position: [45.059322, 39.133029],
        iconImageHref: "assets/images/map/marker-bakery.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "cafe"
    },{
        customBalloon: {
            light: true,
            label: 'Фитнес клуб'
        },
        position: [45.043730, 39.103898],
        iconImageHref: "assets/images/map/marker-fitness.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "fitness"
    },{
        customBalloon: {
            light: true,
            label: 'Фитнес клуб Non-Stop'
        },
        position: [45.039911, 39.110575],
        iconImageHref: "assets/images/map/marker-fitness.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "fitness"
    },{
        customBalloon: {
            light: true,
            label: 'Фитнес клуб King Fit'
        },
        position: [45.034030, 39.098775],
        iconImageHref: "assets/images/map/marker-fitness.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "fitness"
    },{
        customBalloon: {
            light: true,
            label: 'Фитнес-клуб Самсон Олимпия'
        },
        position: [45.037509, 39.101345],
        iconImageHref: "assets/images/map/marker-fitness.svg",
        iconImageSize:[51, 51],
        iconImageOffset: [-25, -25],
        param: "fitness"
    }
] %}

{% set mapFilter = [
    {
        param: "all",
        heading: "Все"
    },{
        param: "school",
        heading: "Образование"
    },{
        param: "kinder",
        heading: "Детские сады"
    },{
        param: "medicine",
        heading: "Больницы"
    },{
        param: "pharmacy",
        heading: "Аптеки"
    },{
        param: "market",
        heading: "Супермаркет"
    },{
        param: "bus",
        heading: "Остановки"
    },{
        param: "green",
        heading: "Зеленые зоны"
    },{
        param: "cafe",
        heading: "Кафе"
    },{
        param: "fitness",
        heading: "Фитнес-центры"
    }
] %}

{% set cardsInfrastructure = [
    {
        src: "assets/tmp/cards/card-infra-1.jpg",
        srcset: "assets/tmp/cards/card-infra-1@2x.jpg 2x",
        heading: "Спорткомплекс «Знаменский»",
        desc: "20 минут пешком"
    },{
        src: "assets/tmp/cards/card-infra-2.jpg",
        srcset: "assets/tmp/cards/card-infra-2@2x.jpg 2x",
        heading: "Детсад с бассейном",
        desc: "20 минут пешком"
    },{
        src: "assets/tmp/cards/card-infra-3.jpg",
        srcset: "assets/tmp/cards/card-infra-3@2x.jpg 2x",
        heading: "Супермаркет «Магнит»",
        desc: "5 минут пешком"
    },{
        src: "assets/tmp/cards/card-infra-4.jpg",
        srcset: "assets/tmp/cards/card-infra-4@2x.jpg 2x",
        heading: "Гипермаркет «Лента»",
        desc: "20 минут пешком"
    },{
        src: "assets/tmp/cards/card-infra-5.jpg",
        srcset: "assets/tmp/cards/card-infra-5@2x.jpg 2x",
        heading: "ТРЦ OZ Mall",
        desc: "10 минут на машине"
    },{
        src: "assets/tmp/cards/card-infra-6.jpg",
        srcset: "assets/tmp/cards/card-infra-6@2x.jpg 2x",
        heading: "Школа № 84",
        desc: "10 минут на машине"
    }
] %}

<section id="section-infrastructure"
         class="section section--padded section-infrastructure bg-primary color-white mb-0">
    <div class="container">
        <div class="section-intro text-center">
            <h2 class="section-intro__heading h2">Действующая инфраструктура</h2>
        </div>

        <div class="map-filter tabs tabs--white text-default" data-map-sidebar="infrastructure">
            {% for item in mapFilter %}
                <button type="button" class="tabs__item{{ loop.first ? ' active' : '' }}"
                        data-map-sidebar-item="{{ item.param }}">{{ item.heading|raw }}</button>
            {% endfor %}
        </div>

        <div class="map-wrap map-infrastructure">
            <div class="map" data-ymap="infrastructure"
                 data-ymap-options='{{ mapOptions|json_encode() }}'
                 data-ymap-markers='{{ marks|json_encode() }}'>
            </div>
        </div>

        <div class="slider-card-common slider-card-infrastructure mt-32 mt-md-40" data-slider-common-wrap>
            <div class="swiper-container" data-slider-common>
                <div class="swiper-wrapper">
                    {% for card in cardsInfrastructure %}
                        <div class="swiper-slide">
                            {% include 'components::cards/card-infrastructure.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include 'components::pagination/pagination.twig' with {
                pagination: {
                    theme: "white"
                }
            } %}
        </div>

    </div>
</section>
