<section class="section section-request">
    <div class="container">

        <div class="section-request__shell">
            <div class="section-request__content">
                    <h2 class="h3">Нужен ремонт? Сделаем!</h2>
                    <div class="text-default">Выбирайте квартиру, а&nbsp;ремонт мы&nbsp;сделаем за&nbsp;вас!</div>
            </div>

            <form action="ajax/send.php" class="section-request__form form-tall" data-form-validate>
                <div class="form-tall__field">
                    {% include 'components::inputs/input.twig' with {
                        field: {
                            type: "tel",
                            name: "ORDER[PHONE]",
                            label: "Номер телефона",
                            required: true,
                        }
                    } %}
                </div>

                <div class="form-tall__btn">
                    {% include 'components::btn.twig' with {
                        btn: {
                            type: "submit",
                            theme: "primary",
                            text: "Узнать подробности",
                        }
                    } %}
                </div>

                <div class="form-tall__agreement">
                    {% include 'components::inputs/checkbox.twig' with {
                        field: {
                            checked: true,
                            name: "ORDER[PERSONAL]",
                            text: "Я согласен на <a href='https://ask-yug.com/politic/' target='_blank'>обработку персональных данных</a>"
                        }
                    } %}
                </div>
            </form>

            <img src="assets/images/clouds.svg" class="section-request__clouds section-request__clouds--1"
                 alt="clouds 1">
            <img src="assets/images/clouds.svg" class="section-request__clouds section-request__clouds--2"
                 alt="clouds 2">
        </div>

    </div>
</section>
