{% set actions = [
    {
        src: "assets/tmp/cards/action-mortgage.jpg",
        srcset: "assets/tmp/cards/action-mortgage@2x.jpg 2x",
        heading: "Ипотека 0,1%!",
        desc: "Ставка действует в&nbsp;первый год&nbsp;кредитования, далее ставка от&nbsp;4,6%.",
        btn: {
        text: "Узнать подробнее",
        minWidth: true,
        attr: "data-popup-callback-trigger",
        dataPopup: [{
            "ORDER[ACTION_NAME]": "Ипотека 0,1%!",
        }]
    }
    },{
        src: "assets/tmp/cards/action-mortgage.jpg",
        srcset: "assets/tmp/cards/action-mortgage@2x.jpg 2x",
        heading: "Ипотека 101%!",
        desc: "Ставка действует в первый год кредитования, далее ставка от 4,6%.",
        btn: {
            text: "Узнать подробнее",
            minWidth: true,
            attr: "data-popup-callback-trigger",
            dataPopup: [{
                "ORDER[ACTION_NAME]": "Ипотека 0,1%!",
            }]
        }
    }
] %}

<section class="section">
    <div class="container">

        <div class="slider-actions" data-slider-actions-wrap>
            <div class="swiper-container" data-slider-actions>
                <div class="swiper-wrapper">
                    {% for card in actions %}
                        <div class="swiper-slide">
                            {% include 'components::cards/card-action.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include 'components::pagination/pagination.twig' with {
                pagination: {
                    theme: "default"
                }
            } %}
        </div>
    </div>
</section>
