<section id="section-quiz" class="section section-quiz" data-quiz-wrap>
    <div class="container section-quiz__inner">
        <div class="section-quiz__widget">
            <h2 class="section-quiz__heading h2">Получите подборку квартир по&nbsp;вашим параметрам</h2>
            <div class="quiz" data-quiz-inline>
                <div class="quiz__step" data-quiz-question>
                    <h3 class="quiz__name text-default" data-quiz-question-name>Выберите количество комнат</h3>
                    <div class="quiz__answers" data-quiz-answers-container>
                        <label data-quiz-answer data-value="Студия">Студия</label>
                        <label data-quiz-answer data-value="1-комнатные">1-комнатные</label>
                        <label data-quiz-answer data-value="2-комнатные">2-комнатные</label>
                    </div>
                    <div class="quiz__back" data-quiz-back>Назад</div>
                </div>
                <div class="quiz__step" data-quiz-question>
                    <h3 class="quiz__name text-default" data-quiz-question-name>Когда планируете покупку?</h3>
                    <div class="quiz__answers" data-quiz-answers-container>
                        <label data-quiz-answer data-value="В течение 1 месяца">В течение 1 месяца</label>
                        <label data-quiz-answer data-value="В течение 3 месяцев">В течение 3 месяцев</label>
                        <label data-quiz-answer data-value="В течение 6 месяцев">В течение 6 месяцев</label>
                        <label data-quiz-answer data-value="Ещё не определились">Ещё не определились</label>
                    </div>
                    <div class="quiz__back" data-quiz-back>Назад</div>
                </div>
                <div class="quiz__step" data-quiz-question>
                    <h3 class="quiz__name text-default" data-quiz-question-name>Какой способ покупки для вас
                        предпочтителен?</h3>
                    <div class="quiz__answers" data-quiz-answers-container>
                        <label data-quiz-answer data-value="Единоразовый платеж">Единоразовый платеж</label>
                        <label data-quiz-answer data-value="Ипотека">Ипотека</label>
                        <label data-quiz-answer data-value="Материнский капитал">Материнский капитал</label>
                        <label data-quiz-answer data-value="Военная ипотека">Военная ипотека</label>
                    </div>
                    <div class="quiz__back" data-quiz-back>Назад</div>
                </div>
                <div class="quiz__step" data-quiz-question>
                    <h3 class="quiz__name text-default" data-quiz-question-name>На какую сумму вы
                        рассчитываете?</h3>
                    <div class="quiz__answers" data-quiz-answers-container>
                        <label data-quiz-answer data-value="1 500 000 ₽ — 1 700 000 ₽">1 500 000 ₽ — 1 700 000 ₽</label>
                        <label data-quiz-answer data-value="1 700 000 ₽ — 1 900 000 ₽">1 700 000 ₽ — 1 900 000 ₽</label>
                        <label data-quiz-answer data-value="1 900 000 ₽ — 2 100 000 ₽">1 900 000 ₽ — 2 100 000 ₽</label>
                        <label data-quiz-answer data-value="от 2 100 000 ₽ и выше">от 2 100 000 ₽ и выше</label>
                    </div>
                    <div class="quiz__back" data-quiz-back>Назад</div>
                </div>

                <div class="quiz__pagination">
                    <div class="quiz-bullet" data-quiz-bullet>
                        <div class="quiz-bullet__ring"></div>
                        <div class="quiz-bullet__caption">Шаг 1</div>
                    </div>
                    <div class="quiz-bullet" data-quiz-bullet>
                        <div class="quiz-bullet__ring"></div>
                        <div class="quiz-bullet__caption">Шаг 2</div>
                    </div>
                    <div class="quiz-bullet" data-quiz-bullet>
                        <div class="quiz-bullet__ring"></div>
                        <div class="quiz-bullet__caption">Шаг 3</div>
                    </div>
                    <div class="quiz-bullet" data-quiz-bullet>
                        <div class="quiz-bullet__ring"></div>
                        <div class="quiz-bullet__caption">Шаг 4</div>
                    </div>
                </div>
            </div>

            <div class="quiz-processing" data-quiz-processing
            >
                <div class="quiz-processing__text text-default">Пожалуйста, подождите...</div>
                <div class="quiz-processing__loader">
                    <div class="loader-wrap">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>

            <div class="quiz-final" data-quiz-final>
                <div class="quiz-final__text text-default">
                    Ваша подборка готова.<br>
                    Введите номер и мы с вами свяжемся
                </div>
                <form action="ajax/send.php" class="quiz-final__form form-long" data-form-validate>
                    <div class="form-long__row">
                        <div class="form-long__field form-long__field--tel">
                            {% include 'components::inputs/input.twig' with {
                                field: {
                                    type: "tel",
                                    name: "ORDER[PHONE]",
                                    label: "Номер телефона",
                                    required: true,
                                }
                            } %}
                        </div>

                        <div class="form-long__field">
                            {% include 'components::btn.twig' with {
                                btn: {
                                    type: "submit",
                                    theme: "primary",
                                    text: "Узнать подробности",
                                    minWidth: true
                                }
                            } %}
                        </div>
                    </div>
                    <div class="form-long__row">
                        <div class="form-long__field form-long__field--full">
                            {% include 'components::inputs/checkbox.twig' with {
                                field: {
                                    checked: true,
                                    name: "ORDER[PERSONAL]",
                                    text: "Я согласен на <a href='https://ask-yug.com/politic/' target='_blank'>обработку персональных данных</a>"
                                }
                            } %}
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="section-quiz__picture">
            <div class="section-quiz__image">
                <img src="assets/tmp/quiz/quiz-1.jpg"
                     srcset="assets/tmp/quiz/quiz-1@2x.jpg 2x"
                     class="active" data-quiz-image alt="" loading="lazy">
                <img src="assets/tmp/quiz/quiz-2.jpg"
                     srcset="assets/tmp/quiz/quiz-2@2x.jpg 2x"
                     data-quiz-image alt="" loading="lazy">
                <img src="assets/tmp/quiz/quiz-3.jpg"
                     srcset="assets/tmp/quiz/quiz-3@2x.jpg 2x"
                     data-quiz-image alt="" loading="lazy">
                <img src="assets/tmp/quiz/quiz-4.jpg"
                     srcset="assets/tmp/quiz/quiz-4@2x.jpg 2x"
                     data-quiz-image alt="" loading="lazy">
                <img src="assets/tmp/quiz/quiz-5.jpg"
                     srcset="assets/tmp/quiz/quiz-5@2x.jpg 2x"
                     data-quiz-image alt="" loading="lazy">
            </div>
        </div>
    </div>

</section>
