<section id="section-about" class="section section-about">
    <div class="container section-about__inner">
        <div class="section-intro section-about__intro">
            <h2 class="section-intro__heading h2">Жизнь со&nbsp;спортом!</h2>
            <div class="section-intro__desc text-default">
                Во дворе множество тренажёров, игровых площадок для любых возрастов — занимайтесь спортом всей семьёй!
            </div>
        </div>

        <div class="section-about__table">
            <div class="factoid-table">
                <div class="factoid-table__item">
                    <div class="factoid">
                        <div class="factoid__number">8</div>
                        <div class="factoid__text">Га зеленых<br>насаждений</div>
                    </div>
                </div>
                <div class="factoid-table__item">
                    <div class="factoid">
                        <div class="factoid__number">820</div>
                        <div class="factoid__text">парковочных<br>мест</div>
                    </div>
                </div>
                <div class="factoid-table__item">
                    <div class="factoid">
                        <div class="factoid__number">13</div>
                        <div class="factoid__text">домов</div>
                    </div>
                </div>
                <div class="factoid-table__item">
                    <div class="factoid">
                        <div class="factoid__number">8</div>
                        <div class="factoid__text">этажей<br>в доме</div>
                    </div>
                </div>

                <img src="assets/images/clouds.svg" class="factoid-table__clouds factoid-table__clouds--1"
                     alt="clouds 1">
                <img src="assets/images/clouds.svg" class="factoid-table__clouds factoid-table__clouds--2"
                     alt="clouds 2">
                <img src="assets/images/clouds.svg" class="factoid-table__clouds factoid-table__clouds--3"
                     alt="clouds 3">
            </div>
        </div>


    </div>
</section>
