<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__main" id="contacts">
            <h2 class="footer__heading h2">Наши контакты</h2>

            <a href="tel:88612043783" class="h4 link-latent">8 (861) 204-37-83</a><br>
            <a href="mailto:info@ask-yug.com" class="h4 link-latent">info@ask-yug.com</a>

            <div class="address">
                <h3 class="address__heading h3">Центральный офис «АСК»</h3>
                <p class="address__text text-default">
                    ул.Уральская 75/1, лит.Б.<br>
                    пн – пт: 09:00–19:00,<br>
                    сб – вс: 10:00–17:00
                </p>
                <p class="address__text text-default color-gray">
                    Автобус: 10, 41, 59<br>
                    Маршрутное такси: 58, 99
                </p>
            </div>

            <div class="address">
                <h3 class="address__heading h3">ЖК «Спортивный парк»</h3>
                <p class="address__text text-default">
                    Ул. Войсковая 20<br>
                    пн – пт: 10:00–18:00,<br>
                    сб – вс: 10:00–17:00
                </p>
                <p class="address__text text-default color-gray">
                    Автобус: 59
                </p>
            </div>

        </div>

        <div class="footer__bottom text-caption">
            <div class="footer__bottom-left">
                <a href="https://ask-yug.com/objects/" target="_blank" class="link-latent color-primary">
                    Посмотреть другие жилые комплексы от&nbsp;компании&nbsp;«АСК»<br>
                </a>
                <p class="color-gray">© Все права защищены.</p>
                <p class="color-gray">Не является публичной офертой.</p>
                <p class="color-gray">
                    Любая информация, представленная на данном сайте, носит исключительно
                    информационный характер и ни при каких условиях не является публичной офертой,
                    определяемой положениями статьи 437 ГК РФ.
                </p>
            </div>
            <div class="footer__bottom-right">
                <div class="madeby">
                    <span>Разработано в</span>
                    <a href="https://southmedia.ru/" target="_blank" title="Перфоманс агентство Southmedia.ru">
                        {% include 'images::logo/logo-southmedia.svg' %}
                    </a>
                </div>
                <a href="https://ask-yug.com/politic/" target="_blank"
                   class="link-latent">Политика конфиденциальности</a>
            </div>

        </div>
    </div>
    <div class="footer__image">
        <img src="assets/images/footer-land.png" alt="Поле" loading="lazy">
    </div>
</footer>
