.checkbox {
  $b: #{&};
  // Без цельных значений (в px) маркер в __box располагается не по центру
  $box-size: 16px;


  position: relative;
  display: flex;
  align-items: center;
  min-width: $box-size;
  min-height: $box-size;
  padding-left: $box-size + 10px;
  line-height: 1;
  cursor: pointer;

  &__input {
    @include visually-hidden;

    &[type="checkbox"] {
      ~ #{$b}__box {
        border-radius: 0;

        &:after {
          width: 10px;
          height: 8px;
          background-image: url(../assets/images/check.svg);
          background-repeat: no-repeat;
          background-size: 10px 8px;
          background-position: center;
          transition-property: transform;
        }
      }
    }

    &[type="radio"] {
      ~ #{$b}__box {
        border-radius: 50%;

        &:after {
          color: inherit;
          background-color: currentColor;
          border-radius: 50%;
          width: 50%;
          height: 50%;
          transition-property: transform, color;
        }
      }
    }

    &:checked {
      ~ #{$b}__box {
        &:after {
          transform: scale(1);
        }
      }
    }
  }

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $box-size;
    height: $box-size;

    &:after {
      content: '';
      display: block;
      transform: scale(0);
      transition-duration: $timing;
      transition-timing-function: $easing;
    }
  }

  &__text {
    @include text-caption;

    a {
      @include link-decorated;
    }
  }

  &--light {
    #{$b}__box {
      background-color: var(--body-background-color);
      color: var(--color-primary);
    }
  }

  &--white {
    #{$b}__box {
      background-color: var(--color-white);
      color: var(--color-primary);
    }
  }
}
