.input-range {
  display: block;
  width: 100%;
  border-radius: $btn-radius;
  border: 1px solid var(--color-light);
  padding: rem(16) rem(16);
  @include text-input;
  text-align: center;
  line-height: 1;
  background-color: var(--color-white);
  transition-property: border-color;
  transition-duration: $timing;
  transition-timing-function: $easing;

  &:focus {
    outline: none;
    border-color: var(--color-primary-hover);
  }
}

.input-range-heading {
  margin-bottom: rem(6);
  @include text-caption;

  @include media-breakpoint-up(lg) {
    margin-bottom: rem(8);
  }
}
