.field {
  $b: #{&};
  position: relative;
  display: block;

  &__label {
    position: absolute;
    top: 0;
    left: rem(20);
    padding-top: rem(20);
    @include text-input;
    line-height: 1;
    transition-property: padding-top, font-size, opacity;
    transition-duration: $timing;
    transition-timing-function: $easing;
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    white-space: nowrap;
    @include text-caption;
    color: var(--color-warning);
    animation: fadeIn $timing $easing forwards;

    .sm-validate__error & {
      display: block;
    }
  }

  &:hover {
    #{$b}__label {
      opacity: 0.5;
    }
  }
}

.input {
  display: block;
  width: 100%;
  border-radius: $btn-radius;
  border: 1px solid;
  padding: rem(24) rem(20) rem(8);
  @include text-input;
  line-height: 1;
  transition-property: background-color, border-color, opacity;
  transition-duration: $timing;
  transition-timing-function: $easing;

  @include media-breakpoint-up(lg) {
    padding-top: rem(24);
  }

  &:focus,
  &:not(:placeholder-shown) {
    outline: none;

    ~ .field__label {
      opacity: 1;
      padding-top: rem(8);
      font-size: rem(11);
    }
  }

  &--light {
    border-color: transparent;
    background-color: var(--body-background-color);
    color: var(--color-black);

    &:focus,
    &:not(:placeholder-shown) {
      border-color: var(--color-primary);
      background-color: var(--color-white);
    }
  }

  .sm-validate__error & {
    border-color: var(--color-warning);
  }

  &.disabled,
  &:disabled {
    opacity: 0.2;
  }
}

input.input {
  height: rem($btn-height);

  @include media-breakpoint-up(lg) {
    height: rem($btn-height-lg);
  }
}

textarea.input {
  resize: vertical;
  min-height: rem($btn-height);

  @include media-breakpoint-up(lg) {
    min-height: rem($btn-height-lg);
  }
}

// иначе не работает (:
.input:-ms-input-placeholder {
  color: var(--color-graphite) !important;
}

.input::-ms-input-placeholder {
  color: var(--color-graphite) !important;
}

.input::-webkit-input-placeholder {
  color: var(--color-graphite) !important;
}

.input::placeholder {
  color: var(--color-graphite) !important;
}
