<div class="calc" data-calc-wrap>
    <div class="calc__intro">
        <h3 class="calc__intro-heading h3">Ипотека</h3>
        <div class="calc__intro-desc text-default">Поможем оформить заявку и подадим сразу в несколько банков!</div>
    </div>

    <div class="calc__body">
        <div class="calc__image">
            <div class="image-container">
                <img src="/assets/tmp/payment/payment-1.jpg"
                     srcset="/assets/tmp/payment/payment-1@2x.jpg 2x"
                     loading="lazy"
                     alt="">
            </div>
        </div>

        <div class="calc__main">
            <div class="calc__filter">
                <input id="interest" type="hidden" value="8.9  %" onkeypress="enterCheck()"
                       onchange="focusoutIR(this.value)">

                <div class="calc__filter-field">
                    <div class="input-range-heading">Стоимость квартиры</div>
                    <input type="text" id="calcPriceField" class="input-range"
                           name="ORDER[PRICE]" autocomplete="off">
                    <div id="calcPrice"></div>
                </div>

                <div class="calc__filter-field">
                    <input id="range2" type="hidden" value="20"
                           onchange="focusoutDP(this.value)">
                    <div class="input-range-heading">Первоначальный взнос</div>
                    <input type="text" id="calcInitialField" class="input-range"
                           name="ORDER[INITIAL]" autocomplete="off">
                    <div id="calcInitial"></div>
                </div>

                <div class="calc__filter-field">
                    <div class="input-range-heading">Срок кредита</div>
                    <input type="text" id="calcPaymentField" class="input-range"
                           name="ORDER[PAYMENT]" autocomplete="off">
                    <div id="calcPayment"></div>
                </div>
            </div>

            <div class="text-default mb-24">Предложения от банков:</div>
            <div class="calc__banks">
                <div class="bank">
                    <div class="bank__icon">
                        {% include 'images::banks/sberbank.svg' %}
                    </div>
                    <div class="bank__name">Сбербанк России</div>
                    <div class="bank__text">от 10,1%</div>
                </div>
                <div class="bank">
                    <div class="bank__icon">
                        {% include 'images::banks/vtb.svg' %}
                    </div>
                    <div class="bank__name">ВТБ</div>
                    <div class="bank__text">от 9,8%</div>
                </div>
                <div class="bank">
                    <div class="bank__icon">
                        {% include 'images::banks/uralsib.svg' %}
                    </div>
                    <div class="bank__name">Уралсиб</div>
                    <div class="bank__text">от 10,4%</div>
                </div>
            </div>

            <div class="calc__btn">
                {% include 'components::btn.twig' with {
                    btn: {
                        text: "Узнать подробности",
                        minWidth: true,
                        attr: "data-popup-callback-trigger='Узнать подробности ипотеки' data-calc-btn",
                    }
                } %}

            </div>

            <div class="calc__note text-caption">* Не является публичной офертой, условия могут быть другими.</div>
        </div>
    </div>

</div>
