<section class="hero">
    <div class="hero__inner container">
        <div class="hero__content">
            <h1 class="hero__heading h1">Жилой комплекс «Спортивный&nbsp;парк»</h1>
            <div class="hero__desc h4">
                Квартиры <strong>от 2,4 млн рублей</strong>
                <br>
                в&nbsp;районе Новознаменский в&nbsp;Краснодаре
            </div>
            <form action="ajax/send.php" class="hero__form form-long" data-form-validate>
                <div class="form-long__row">
                    <div class="form-long__field form-long__field--tel">
                        {% include 'components::inputs/input.twig' with {
                            field: {
                                type: "tel",
                                name: "ORDER[PHONE]",
                                label: "Номер телефона",
                                required: true,
                            }
                        } %}
                    </div>

                    <div class="form-long__field">
                        {% include 'components::btn.twig' with {
                            btn: {
                                type: "submit",
                                theme: "primary",
                                text: "Узнать подробности",
                                minWidth: true
                            }
                        } %}
                    </div>
                </div>
                <div class="form-long__row">
                    <div class="form-long__field form-long__field--full">
                        {% include 'components::inputs/checkbox.twig' with {
                            field: {
                                checked: true,
                                name: "ORDER[PERSONAL]",
                                text: "Я согласен на <a href='https://ask-yug.com/politic/' target='_blank'>обработку персональных данных</a>"
                            }
                        } %}
                    </div>
                </div>
            </form>
        </div>

        <div class="hero__picture">
            <img src="assets/images/hero-illustration.svg" alt="Illustration">
        </div>
    </div>
</section>
