html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  z-index: $z-header;
}

.footer {
  z-index: $z-footer;
  margin-top: auto;
  margin-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: rem($container-gutter-sm);
  padding-right: rem($container-gutter-sm);

  @include media-breakpoint-only(md) {
    padding-left: rem($container-gutter-md);
    padding-right: rem($container-gutter-md);
  }

  @include media-breakpoint-up(lg) {
    max-width: rem($container-max-width);
    padding-left: rem($container-gutter);
    padding-right: rem($container-gutter);
  }
}
