@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Thin'), local('FiraSans-Thin'),
  url('../fonts/FiraSans/FiraSans-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Thin Italic'), local('FiraSans-ThinItalic'),
  url('../fonts/FiraSans/FiraSans-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'),
  url('../fonts/FiraSans/FiraSans-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans ExtraLight Italic'), local('FiraSans-ExtraLightItalic'),
  url('../fonts/FiraSans/FiraSans-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Light'), local('FiraSans-Light'),
  url('../fonts/FiraSans/FiraSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'),
  url('../fonts/FiraSans/FiraSans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
  url('../fonts/FiraSans/FiraSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Italic'), local('FiraSans-Italic'),
  url('../fonts/FiraSans/FiraSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Medium'), local('FiraSans-Medium'),
  url('../fonts/FiraSans/FiraSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'),
  url('../fonts/FiraSans/FiraSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
  url('../fonts/FiraSans/FiraSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans SemiBold Italic'), local('FiraSans-SemiBoldItalic'),
  url('../fonts/FiraSans/FiraSans-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
  url('../fonts/FiraSans/FiraSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'),
  url('../fonts/FiraSans/FiraSans-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans ExtraBold'), local('FiraSans-ExtraBold'),
  url('../fonts/FiraSans/FiraSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans ExtraBold Italic'), local('FiraSans-ExtraBoldItalic'),
  url('../fonts/FiraSans/FiraSans-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Black'), local('FiraSans-Black'),
  url('../fonts/FiraSans/FiraSans-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans Black Italic'), local('FiraSans-BlackItalic'),
  url('../fonts/FiraSans/FiraSans-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
